body {
  padding-top: 95px;
  font-family: 'Raleway', sans-serif; }

.input-group .form-control {
  border-radius: 0; }
  .input-group .form-control .input-group-addon:last-child {
    border-radius: 0; }

.toast, .pagination {
  font-family: 'Montserrat', sans-serif; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .pagination .count {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    color: #3d3d3d; }
  .pagination .bgn-group-spacer {
    display: inline-block;
    min-width: 50px;
    margin: 0;
    text-align: center;
    font-size: 2.4rem;
    line-height: 4.2rem;
    height: 50px;
    vertical-align: sub; }

.label {
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.42);
  letter-spacing: -.2px;
  font-family: monospace;
  font-size: 80%; }

.btn-group, .card {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }
  .btn-group.clear, .btn-group.separate, .card.clear, .card.separate {
    box-shadow: none; }

.card.padding {
  padding: 20px; }

.btn-group.separate .btn {
  margin-left: 15px; }
  .btn-group.separate .btn:first-child {
    margin-left: 0; }

.dropdown-toggle.btn-secondary {
  padding-right: 30px; }

.rltv {
  position: relative; }
  td:first-child > .rltv {
    margin: -8px;
    padding: 8px 8px 8px 28px;
    min-height: 60px;
    display: flex;
    align-items: center; }

.btn-green {
  background-color: #29b766;
  border-color: #208d4f; }
  .btn-green.btn-outline {
    color: #29b766;
    background-color: transparent; }
  .btn-green:focus, .btn-green:active, .btn-green:hover, .btn-green.active, .btn-green:active:focus, .btn-green:active:hover {
    background-color: #208d4f;
    border-color: #166438; }
    .btn-green:focus.btn-outline, .btn-green:active.btn-outline, .btn-green:hover.btn-outline, .btn-green.active.btn-outline, .btn-green:active:focus.btn-outline, .btn-green:active:hover.btn-outline {
      color: #208d4f;
      background-color: transparent; }

.bg-green {
  color: white;
  background-color: #29b766; }

.btn-success {
  background-color: #29b766;
  border-color: #208d4f; }
  .btn-success.btn-outline {
    color: #29b766;
    background-color: transparent; }
  .btn-success:focus, .btn-success:active, .btn-success:hover, .btn-success.active, .btn-success:active:focus, .btn-success:active:hover {
    background-color: #208d4f;
    border-color: #166438; }
    .btn-success:focus.btn-outline, .btn-success:active.btn-outline, .btn-success:hover.btn-outline, .btn-success.active.btn-outline, .btn-success:active:focus.btn-outline, .btn-success:active:hover.btn-outline {
      color: #208d4f;
      background-color: transparent; }

.bg-success {
  color: white;
  background-color: #29b766; }

.btn-blue {
  background-color: #300d79;
  border-color: #1e084b; }
  .btn-blue.btn-outline {
    color: #300d79;
    background-color: transparent; }
  .btn-blue:focus, .btn-blue:active, .btn-blue:hover, .btn-blue.active, .btn-blue:active:focus, .btn-blue:active:hover {
    background-color: #1e084b;
    border-color: #0b031d; }
    .btn-blue:focus.btn-outline, .btn-blue:active.btn-outline, .btn-blue:hover.btn-outline, .btn-blue.active.btn-outline, .btn-blue:active:focus.btn-outline, .btn-blue:active:hover.btn-outline {
      color: #1e084b;
      background-color: transparent; }

.bg-blue {
  color: white;
  background-color: #300d79; }

.btn-ambient {
  background-color: #300d79;
  border-color: #1e084b; }
  .btn-ambient.btn-outline {
    color: #300d79;
    background-color: transparent; }
  .btn-ambient:focus, .btn-ambient:active, .btn-ambient:hover, .btn-ambient.active, .btn-ambient:active:focus, .btn-ambient:active:hover {
    background-color: #1e084b;
    border-color: #0b031d; }
    .btn-ambient:focus.btn-outline, .btn-ambient:active.btn-outline, .btn-ambient:hover.btn-outline, .btn-ambient.active.btn-outline, .btn-ambient:active:focus.btn-outline, .btn-ambient:active:hover.btn-outline {
      color: #1e084b;
      background-color: transparent; }

.bg-ambient {
  color: white;
  background-color: #300d79; }

.btn-chill {
  background-color: #4c90bc;
  border-color: #3a759b; }
  .btn-chill.btn-outline {
    color: #4c90bc;
    background-color: transparent; }
  .btn-chill:focus, .btn-chill:active, .btn-chill:hover, .btn-chill.active, .btn-chill:active:focus, .btn-chill:active:hover {
    background-color: #3a759b;
    border-color: #2c5976; }
    .btn-chill:focus.btn-outline, .btn-chill:active.btn-outline, .btn-chill:hover.btn-outline, .btn-chill.active.btn-outline, .btn-chill:active:focus.btn-outline, .btn-chill:active:hover.btn-outline {
      color: #3a759b;
      background-color: transparent; }

.bg-chill {
  color: white;
  background-color: #4c90bc; }

.btn-info {
  background-color: #4c90bc;
  border-color: #3a759b; }
  .btn-info.btn-outline {
    color: #4c90bc;
    background-color: transparent; }
  .btn-info:focus, .btn-info:active, .btn-info:hover, .btn-info.active, .btn-info:active:focus, .btn-info:active:hover {
    background-color: #3a759b;
    border-color: #2c5976; }
    .btn-info:focus.btn-outline, .btn-info:active.btn-outline, .btn-info:hover.btn-outline, .btn-info.active.btn-outline, .btn-info:active:focus.btn-outline, .btn-info:active:hover.btn-outline {
      color: #3a759b;
      background-color: transparent; }

.bg-info {
  color: white;
  background-color: #4c90bc; }

.btn-alcohol {
  background-color: #710808;
  border-color: #410505; }
  .btn-alcohol.btn-outline {
    color: #710808;
    background-color: transparent; }
  .btn-alcohol:focus, .btn-alcohol:active, .btn-alcohol:hover, .btn-alcohol.active, .btn-alcohol:active:focus, .btn-alcohol:active:hover {
    background-color: #410505;
    border-color: #120101; }
    .btn-alcohol:focus.btn-outline, .btn-alcohol:active.btn-outline, .btn-alcohol:hover.btn-outline, .btn-alcohol.active.btn-outline, .btn-alcohol:active:focus.btn-outline, .btn-alcohol:active:hover.btn-outline {
      color: #410505;
      background-color: transparent; }

.bg-alcohol {
  color: white;
  background-color: #710808; }

.btn-danger {
  background-color: #ff0048;
  border-color: #cc003a; }
  .btn-danger.btn-outline {
    color: #ff0048;
    background-color: transparent; }
  .btn-danger:focus, .btn-danger:active, .btn-danger:hover, .btn-danger.active, .btn-danger:active:focus, .btn-danger:active:hover {
    background-color: #cc003a;
    border-color: #99002b; }
    .btn-danger:focus.btn-outline, .btn-danger:active.btn-outline, .btn-danger:hover.btn-outline, .btn-danger.active.btn-outline, .btn-danger:active:focus.btn-outline, .btn-danger:active:hover.btn-outline {
      color: #cc003a;
      background-color: transparent; }

.bg-danger {
  color: white;
  background-color: #ff0048; }

.btn-centre {
  background-color: #ea6207;
  border-color: #b84d06; }
  .btn-centre.btn-outline {
    color: #ea6207;
    background-color: transparent; }
  .btn-centre:focus, .btn-centre:active, .btn-centre:hover, .btn-centre.active, .btn-centre:active:focus, .btn-centre:active:hover {
    background-color: #b84d06;
    border-color: #873904; }
    .btn-centre:focus.btn-outline, .btn-centre:active.btn-outline, .btn-centre:hover.btn-outline, .btn-centre.active.btn-outline, .btn-centre:active:focus.btn-outline, .btn-centre:active:hover.btn-outline {
      color: #b84d06;
      background-color: transparent; }

.bg-centre {
  color: white;
  background-color: #ea6207; }

.btn-alert {
  background-color: #ea6207;
  border-color: #b84d06; }
  .btn-alert.btn-outline {
    color: #ea6207;
    background-color: transparent; }
  .btn-alert:focus, .btn-alert:active, .btn-alert:hover, .btn-alert.active, .btn-alert:active:focus, .btn-alert:active:hover {
    background-color: #b84d06;
    border-color: #873904; }
    .btn-alert:focus.btn-outline, .btn-alert:active.btn-outline, .btn-alert:hover.btn-outline, .btn-alert.active.btn-outline, .btn-alert:active:focus.btn-outline, .btn-alert:active:hover.btn-outline {
      color: #b84d06;
      background-color: transparent; }

.bg-alert {
  color: white;
  background-color: #ea6207; }

.btn-primary {
  background-color: #131346;
  border-color: #08081e; }
  .btn-primary.btn-outline {
    color: #131346;
    background-color: transparent; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover {
    background-color: #08081e;
    border-color: black; }
    .btn-primary:focus.btn-outline, .btn-primary:active.btn-outline, .btn-primary:hover.btn-outline, .btn-primary.active.btn-outline, .btn-primary:active:focus.btn-outline, .btn-primary:active:hover.btn-outline {
      color: #08081e;
      background-color: transparent; }

.bg-primary {
  color: white;
  background-color: #131346; }

a.btn-inverse {
  background-color: #484848;
  border-color: #222222;
  color: white; }
  a.btn-inverse:focus, a.btn-inverse:active, a.btn-inverse:hover, a.btn-inverse.active {
    background-color: #373737;
    border-color: #111111;
    color: white; }

.btn-white.btn-outline {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  border-color: white; }

.btn {
  border: none;
  height: 50px;
  border-radius: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn.btn-sm {
    height: auto; }
  .btn.btn-outline {
    border: 1px solid;
    box-shadow: none; }
  .btn .caret {
    width: 1.2em;
    height: inherit;
    border: none;
    font: normal normal normal 16px/1 FontAwesome;
    margin-left: .4em;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    .open > .btn .caret {
      transform: scaleY(-1), translateY(-2px); }
    .btn .caret::before {
      content: "\f078"; }
  .cardTitle .btn, .btn.btn-sm {
    line-height: 1.42857143; }
  .btn.btn-sm {
    font-size: 14px; }
  .btn.btn-clear {
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    color: white; }
  .btn-group:not(.separate) .btn {
    box-shadow: none;
    min-width: 50px; }
    .btn-group:not(.separate) .btn + .btn {
      border-left: 1px solid rgba(128, 128, 128, 0.21); }
      .btn-group:not(.separate) .btn + .btn:hover, .btn-group:not(.separate) .btn + .btn:focus, .btn-group:not(.separate) .btn + .btn:active {
        border-color: rgba(0, 0, 0, 0.03); }

.productActions {
  display: inline-flex; }
  .productActions .bar-rating {
    border: 1px solid;
    padding: 5px 12px;
    margin-right: 15px; }
    .productActions .bar-rating .br-theme-fontawesome-stars .br-widget a {
      line-height: 2.8rem;
      font-size: 2.2rem; }
      .productActions .bar-rating .br-theme-fontawesome-stars .br-widget a:first-child {
        font-family: 'bwg-i', fantasy;
        font-size: 1.5rem;
        margin-right: 12px; }
        .productActions .bar-rating .br-theme-fontawesome-stars .br-widget a:first-child:after {
          content: "C"; }
  .productActions .open .dropdown-menu {
    padding-top: 0;
    transform: translateX(-33%);
    left: 50%; }
    .productActions .open .dropdown-menu > li > a {
      padding: 10px 15px; }
  .productActions .dropdown.dropup {
    display: inline-block;
    margin-right: 1.5rem; }
  .productActions .btn-sm {
    font-size: 2rem; }

.btn-group-sm > .btn, .btn-sm {
  border-radius: 0; }

.btn-white {
  background-color: white; }
  .btn-white:hover, .btn-white:focus, .btn-white:active {
    background-color: rgba(0, 0, 0, 0.02);
    outline: none !important;
    box-shadow: none; }

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

.btn-disabled {
  background-color: #3d3d3d;
  color: white !important; }

.btn-primary {
  color: #fff;
  background-color: #131346;
  border-color: #202076; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: #202076; }

.navbar-toggle {
  border-radius: 0;
  color: white; }
  .navbar-default .navbar-toggle .icon-bar, .navbar-toggle .icon-bar {
    background-color: white; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.27); }

#dropdownSettings::after {
  top: 100%; }

#dropdownIcons {
  right: -1px;
  position: relative; }

.dropdown-menu {
  display: block;
  opacity: 0;
  pointer-events: none;
  border: none;
  margin-top: 1px;
  right: -1px;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
  .dropdown-menu > * {
    margin-top: -100%;
    transition: margin-top 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
    .open .dropdown-menu > * {
      margin-top: 0; }
  .open .dropdown-menu {
    opacity: 1;
    pointer-events: initial; }

.card.page {
  overflow: hidden; }

.form-control-lg {
  height: 45px;
  border: 1px solid;
  border-radius: 0; }

.dropdown-toggle.hasCaret, .bootstrap-select > .dropdown-toggle {
  padding-right: 30px;
  position: relative; }
  .dropdown-toggle.hasCaret .caret, .bootstrap-select > .dropdown-toggle .caret {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%); }

.bootstrap-select {
  box-shadow: none; }
  .bootstrap-select ul.dropdown-menu > li > a {
    padding: 10px 12px; }

.btn-secondary.dropdown-toggle {
  min-width: 165px;
  text-align: initial; }
  .btn-secondary.dropdown-toggle .caret {
    position: absolute;
    right: 6px; }
  .btn-secondary.dropdown-toggle + .dropdown-menu {
    min-width: 165px; }
    .btn-secondary.dropdown-toggle + .dropdown-menu > li {
      padding: 0; }
      .btn-secondary.dropdown-toggle + .dropdown-menu > li > * {
        padding: 8px 20px; }

.open {
  /*.dropdown-toggle[aria-haspopup=true]::after{
    height: 13px;

    position: absolute;
    top: calc(100% + 1px);
    left: -1px;
    background-color: #fff;
    border-top: 1px solid #bbb;
    width: calc(100% + 2px);
  }*/ }
  .open > a, .open > a:focus, .open > a:hover, .open > .dropdown-toggle.active, .open > .dropdown-toggle.active:focus, .open * > .dropdown-toggle.active:hover {
    outline: none;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
  td > .open > a {
    box-shadow: none !important; }
  .open.btn-group .dropdown-menu {
    margin-top: 1px;
    border-top: 1px solid #eee; }
  .open .dropdown-menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 0;
    padding: 14px 0 0 0;
    border: none;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 8px 10px 1px rgba(0, 0, 0, 0.07), 0 3px 14px 2px rgba(0, 0, 0, 0.06); }
    .navbar-nav > .open .dropdown-menu {
      margin-top: 1px; }
    .open .dropdown-menu form {
      margin-top: -10px; }
      .open .dropdown-menu form button:hover {
        background-color: #373737;
        color: white; }

.navbar-default {
  min-height: 95px;
  background-color: #29b766;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border: none; }
  .navbar-default .navbar-brand {
    max-width: 180px;
    flex: 1 0 180px;
    margin-right: 30px;
    padding: 0; }
  @media (max-width: 991px) {
    .navbar-default > .container {
      width: 100%; } }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: white;
    border: none;
    border-bottom-color: white; }
  .navbar-default .navbar-nav > .open .dropdown-menu li:last-child {
    background-color: #29b766; }
    .navbar-default .navbar-nav > .open .dropdown-menu li:last-child > a {
      color: white; }
  .navbar-default .navbar-nav > .open .dropdown-menu .info {
    padding: 20px 12px;
    color: white; }
  .navbar-default .navbar-nav > li > a {
    color: white;
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1); }
  .navbar-default .btn {
    max-height: 50px; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li:focus > a, .navbar-default .navbar-nav > li:focus > a:focus, .navbar-default .navbar-nav > li:focus > a:hover, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:hover > a:focus, .navbar-default .navbar-nav > li:hover > a:hover {
    color: black; }
  .navbar-default .nav-search {
    display: flex;
    flex-grow: 1; }
    .navbar-default .nav-search .input-group, .navbar-default .nav-search .btn-search {
      transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }
      .navbar-default .nav-search .input-group:focus, .navbar-default .nav-search .input-group:active, .navbar-default .nav-search .input-group:hover, .navbar-default .nav-search .btn-search:focus, .navbar-default .nav-search .btn-search:active, .navbar-default .nav-search .btn-search:hover {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
    .navbar-default .nav-search .btn-search {
      background-color: #fff;
      margin-left: 8px;
      line-height: 36px;
      font-weight: 600;
      color: #212121;
      text-transform: uppercase;
      text-align: center;
      font-size: 17px; }
    .navbar-default .nav-search .input-group {
      max-width: calc(100% - 195px); }
      .navbar-default .nav-search .input-group .input-group-addon {
        background: white !important; }
      .navbar-default .nav-search .input-group .form-control {
        box-shadow: 0 0 0;
        height: 50px;
        border: none; }
      .navbar-default .nav-search .input-group .input-group-addon {
        padding: 0; }
        .navbar-default .nav-search .input-group .input-group-addon button {
          border: 0;
          padding: 8px 9px 8px 10px;
          background-color: #131346;
          color: white;
          font-size: 28px;
          width: 50px;
          height: 50px;
          margin: -1px; }
          .navbar-default .nav-search .input-group .input-group-addon button:hover, .navbar-default .nav-search .input-group .input-group-addon button:active, .navbar-default .nav-search .input-group .input-group-addon button:focus {
            background-color: #202076; }
  .navbar-default .navbar-right li > a, .navbar-default .navbar-right li button {
    padding: 10px 12px; }
  .navbar-default .navbar-right li button {
    background: none;
    border: none;
    display: block;
    width: 100%; }
  @media (min-width: 768px) {
    .navbar-default #navbar {
      display: flex !important;
      align-items: center; }
      .navbar-default #navbar .navbar-right {
        flex-shrink: 0;
        padding-left: 40px; } }

.flexWrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px; }
  body > .flexWrap {
    min-height: calc(100vh - 95px);
    background: url("../image/retail.jpg") no-repeat 50% 50%/cover;
    position: relative; }
    body > .flexWrap.v-center {
      justify-content: center;
      align-items: center; }
    body > .flexWrap.clear {
      background: #cfcfcf; }
  .flexWrap > .container:first-child {
    margin-top: 20px;
    flex-grow: 1;
    position: relative; }
    .flexWrap > .container:first-child.push {
      display: flex; }
      .flexWrap > .container:first-child.push > .row {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 100%; }
        .flexWrap > .container:first-child.push > .row > * {
          display: flex;
          flex-direction: column; }
          .flexWrap > .container:first-child.push > .row > * > * {
            flex-grow: 1; }
  @media (min-width: 992px) {
    .flexWrap .aside {
      padding-left: .5rem; } }
  .flexWrap .aside .card {
    padding: 1rem;
    flex-grow: 0 !important; }
  .flexWrap .card {
    background-color: white; }
  .flexWrap h4 {
    font-size: 2.4rem;
    margin: .5rem 0; }
  .flexWrap .cardTitle {
    background-color: #303030;
    padding: 1.5rem; }
    .flexWrap .cardTitle h1, .flexWrap .cardTitle .filters, .flexWrap .cardTitle .layoutSwitch {
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 4rem;
      font-weight: 600;
      margin: 0;
      color: white; }
    .flexWrap .cardTitle a.btn-secondary {
      background-color: white;
      color: black; }
  .flexWrap > .parallax-container {
    overflow: hidden; }
    .flexWrap > .parallax-container + .submenu {
      box-shadow: 0 -3px 5px -1px rgba(0, 0, 0, 0.2), 0 -6px 10px 0 rgba(0, 0, 0, 0.14), 0 -1px 18px 0 rgba(0, 0, 0, 0.12); }
    .flexWrap > .parallax-container > .parallax-scroller {
      height: 500px;
      position: relative;
      box-sizing: content-box; }
      .flexWrap > .parallax-container > .parallax-scroller .scene {
        color: white;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .flexWrap > .parallax-container > .parallax-scroller .scene h3, .flexWrap > .parallax-container > .parallax-scroller .scene div {
          text-transform: uppercase; }
        .flexWrap > .parallax-container > .parallax-scroller .scene h3 {
          font-size: 4.5rem;
          font-weight: 900; }
        .flexWrap > .parallax-container > .parallax-scroller .scene div {
          font-size: 3.5rem;
          font-weight: 200; }
        .flexWrap > .parallax-container > .parallax-scroller .scene .btn {
          margin-top: 6rem;
          padding: 6px 6rem; }

.flex-table.saved-searches tr > td {
  border-top: 1px solid #ddd; }
  .flex-table.saved-searches tr > td:last-child, .flex-table.saved-searches tr > td:first-child {
    width: 1%; }

.flex-table {
  width: 100%; }
  .card .flex-table th {
    background-color: #3d3d3d;
    color: white;
    padding: 18px 8px;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle; }
    .card .flex-table th:not(:first-child) {
      text-align: center;
      white-space: nowrap; }
    .card .flex-table th a {
      color: white;
      margin-left: 8px; }
  .flex-table tr {
    background-color: white; }
    .flex-table tr td {
      min-height: 60px;
      padding: 12px 8px; }
      .flex-table tr td:not(:first-child) {
        text-align: center; }
      .flex-table tr td .hide-x > * {
        transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
    .flex-table tr[data-target] {
      font-family: 'Montserrat', sans-serif;
      position: relative; }
      .flex-table tr[data-target] > td {
        min-height: 60px;
        border-top: 1px solid #ddd;
        vertical-align: middle; }
        .flex-table tr[data-target] > td:not(:first-child) {
          text-align: center; }
        .flex-table tr[data-target] > td:not(.no-grow) {
          min-width: 50px; }
        .flex-table tr[data-target] > td .input-group {
          min-width: 140px;
          height: 45px; }
        .flex-table tr[data-target] > td.no-grow {
          padding: 8px 8px 8px 0;
          margin: 0; }
        .flex-table tr[data-target] > td.hide-x > * {
          transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
    .flex-table tr[aria-expanded=true] {
      background-color: #eee; }
      .flex-table tr[aria-expanded=true], .flex-table tr[aria-expanded=true] + .hiddenRow {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }
      .flex-table tr[aria-expanded=true] td.hide-x > * {
        pointer-events: none;
        opacity: 0; }
    .flex-table tr.hiddenRow {
      position: relative;
      overflow: visible;
      z-index: 1; }
      .flex-table tr.hiddenRow .collapse.in {
        overflow: visible !important; }
      .flex-table tr.hiddenRow td {
        padding: 0;
        border-top: none; }
        .flex-table tr.hiddenRow td .tdWrapper {
          padding: 12px 8px;
          border-top: 1px solid #ddd; }
    .flex-table tr.clear {
      background-color: transparent; }
      .flex-table tr.clear > td {
        padding: 0;
        border-top-width: 0; }
        .flex-table tr.clear > td .rowSpacer {
          height: 0;
          transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
      .flex-table tr.clear.opened .rowSpacer {
        height: 15px; }
      .flex-table tr.clear.opened + tr + tr + tr .rowSpacer {
        height: 15px; }
  .flex-table .offerWrap {
    background-color: #ff0048;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 10px;
    max-width: 20px;
    min-height: 57px;
    right: 0;
    top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: max-width 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
    .flex-table .offerWrap > .fa {
      position: absolute;
      right: .4rem;
      top: .5rem; }
    .flex-table .offerWrap .offerTag {
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      display: flex;
      flex-direction: column;
      line-height: 1.1;
      opacity: 0;
      width: 100%;
      min-width: 120px;
      padding: 0 8px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400; }
      .flex-table .offerWrap .offerTag .tagTitle {
        font-weight: 700; }
  .flex-table tr[aria-expanded=false] {
    overflow: hidden; }
  .flex-table tr[aria-expanded=false] td:hover .offerWrap, .flex-table tr[aria-expanded=true] .offerWrap {
    max-width: 100%; }
    .flex-table tr[aria-expanded=false] td:hover .offerWrap .offerTag, .flex-table tr[aria-expanded=true] .offerWrap .offerTag {
      opacity: 1; }

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: white; }

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: calc(100vh - 51px); } }
.dl-horizontal dt {
  width: 130px;
  font-weight: normal; }
.dl-horizontal dd {
  margin-left: 140px; }
.dl-horizontal code {
  display: inline-block; }
  .dl-horizontal code::before {
    content: '(ex: '; }
  .dl-horizontal code::after {
    content: ')'; }

h1, h2, h3, h4 {
  font-weight: 600;
  text-transform: uppercase; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

input::-webkit-input-placeholder, button {
  transition: all 0.3s ease-in-out; }

.login {
  padding: 20px; }
  .login form {
    box-sizing: border-box;
    width: 260px;
    margin: 0 auto;
    border-radius: 3px; }
    .login form input {
      margin: 40px 0;
      width: 100%;
      display: block;
      border: none;
      padding: 10px 0;
      border-bottom: solid 1px #1abc9c;
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      background-size: 200px 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%) no-repeat -200px 0;
      color: #0e6252; }
      .login form input:focus, .login form input:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0; }
        .login form input:focus::-webkit-input-placeholder, .login form input:valid::-webkit-input-placeholder {
          color: #1abc9c;
          font-size: 11px;
          transform: translateY(-20px);
          visibility: visible !important; }

.card.transparent {
  box-shadow: none;
  background-color: transparent; }

.card + .card {
  margin-top: 20px; }

.afterFlexTable {
  background-color: white;
  border-top: 1px solid #ddd;
  padding: 12px 8px;
  margin-bottom: 20px; }

.flexRow {
  display: flex; }
  .flexRow .flexCol {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start; }
    .flexRow .flexCol:first-child {
      padding: 0 1rem 20px; }
      @media (max-width: 991px) {
        .flexRow .flexCol:first-child {
          padding-bottom: 0; } }
    .flexRow .flexCol > .push {
      flex-grow: 1; }
    .flexRow .flexCol:last-child {
      flex-grow: 0; }
    @media (max-width: 992px) {
      .flexRow .flexCol .btn-group {
        display: flex;
        flex-direction: column; }
        .flexRow .flexCol .btn-group > * {
          margin: 7px 0;
          max-width: 240px; } }
    .flexRow .flexCol .btn-group.clear {
      display: inline-flex; }

.modal-header .close, .toast-close-button {
  font-size: 2em;
  min-width: 1em;
  padding: 1rem;
  outline: none;
  text-shadow: none;
  font-family: 'bwg-i', fantasy;
  position: relative;
  color: white;
  opacity: .65; }
  #hhtErrorsModal .modal-header .close, #hhtErrorsModal .toast-close-button {
    color: black; }
  .modal-header .close:active, .modal-header .close:focus, .modal-header .close:hover, .toast-close-button:active, .toast-close-button:focus, .toast-close-button:hover {
    color: black;
    text-shadow: 1px 1px 1px white;
    opacity: .42; }
  .modal-header .close span, .toast-close-button span {
    opacity: 0; }
  .modal-header .close::after, .toast-close-button::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '\0043'; }

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px); }
  @media (max-width: 767px) {
    .modal-dialog {
      min-height: calc(100vh - 20px); } }

.modal-footer {
  text-align: center; }
  .modal-footer .btn {
    min-width: 150px; }

.flexRow.form-group {
  align-items: center; }
  .flexRow.form-group label {
    margin-bottom: 0;
    line-height: 3rem;
    cursor: pointer;
    font-weight: 400; }

.toggleSwitch {
  margin-right: 2rem;
  position: relative;
  display: block;
  padding: 2px;
  width: 100px;
  height: 34px;
  align-items: center;
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  cursor: pointer;
  transition: background-color .1s linear .1s;
  box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.07); }
  .toggleSwitch.wide {
    width: 120px; }
  .toggleSwitch.wider {
    width: 150px; }
  .toggleSwitch.on {
    background-color: #29b766;
    color: white; }
  .toggleSwitch input {
    display: none; }
  .toggleSwitch .toggle {
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    display: inline-block;
    background-color: white;
    right: calc(100% - 32px);
    transition: right 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
    .toggleSwitch .toggle.on {
      right: 2px; }
    .toggleSwitch .toggle:before, .toggleSwitch .toggle:after {
      display: inline-block;
      position: absolute;
      top: 0;
      padding: 0 10px; }
    .toggleSwitch .toggle:before {
      content: attr(data-on);
      right: 100%; }
    .toggleSwitch .toggle:after {
      left: 100%;
      content: attr(data-off); }

.empty-cart {
  background-color: #eee;
  padding: 2rem;
  min-height: 10rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat",sans-serif; }

/*# sourceMappingURL=base.css.map */
