@import "variables";

body {
  padding-top: 95px;
  font-family: 'Raleway', sans-serif;
}

.input-group {
  .form-control {
    border-radius: 0;
    .input-group-addon:last-child {
      border-radius: 0;
    }
  }
}
.toast, .pagination {
  font-family: 'Montserrat', sans-serif;
}
.pagination {
  .count {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    color: #3d3d3d;
  }
  .bgn-group-spacer {
    display: inline-block;
    min-width: 50px;
    margin: 0;
    text-align: center;
    font-size: 2.4rem;
    line-height: 4.2rem;
    height: 50px;
    vertical-align: sub;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.label {
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0,0,0,.42);
  letter-spacing: -.2px;
  font-family: monospace;
  font-size: 80%;
}
.btn-group, .card {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  &.clear, &.separate {
    box-shadow: none;
  }
}
.card.padding {
  padding: 20px;
}
.btn-group.separate {
  .btn {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.dropdown-toggle.btn-secondary {
  padding-right: 30px;
}

.rltv {
  position: relative;
  td:first-child > & {
    margin: -8px;
    padding: 8px 8px 8px 28px;
    min-height: 60px;
    display: flex;
    align-items: center;
  }
}
.alert {
  border: 2px solid;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
}

@for $i from 1 through length($colors) {
  $key : nth(map_keys($colors), $i);
  $color: map_get($colors, $key);
  .alert-#{$key} {
    border-color: $color;
    color: darken($color, 12);
  }
  .label-#{$key} {
    background-color: $color;
  }
  .btn-#{$key} {
    background-color: $color;
    border-color: darken( $color, 10);
    &.btn-outline {
      color: $color;
      background-color: transparent;
    }
    &:focus, &:active, &:hover, &.active, &:active:focus, &:active:hover {
      background-color: darken($color, 10);
      border-color: darken( $color, 20);
      &.btn-outline {
        color: darken($color, 10);
        background-color: transparent;
      }
    }
  }
  .bg-#{$key} {
    color: white;
    background-color: $color;
  }
}

.label-warning {
  background-color: #ea6207;
}
a.btn-inverse {
  background-color: #484848;
  border-color: darken(#484848, 15);
  color: white;
  &:focus, &:active, &:hover, &.active {
    background-color: #373737;
    border-color: darken(#373737, 15);
    color: white;
  }
}

.btn {
  border: none;
  height: 50px;
  &.btn-sm {
    height: auto;
  }
  border-radius: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  &.btn-outline {
    border: 1px solid;
    box-shadow: none;
  }
  .caret {
    width: 1.2em;
    height: inherit;
    border: none;
    font: normal normal normal 16px/1 FontAwesome;
    margin-left: .4em;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1);
    .open > & {
      transform: scaleY(-1), translateY(-2px);

    }
    &::before {
      content: "\f078";
    }
  }
  .cardTitle &, &.btn-sm {
    line-height: 1.42857143;
  }
  &.btn-sm {
    font-size: 14px;
  }
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  &.btn-clear {
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    color: white;
  }
  .btn-group:not(.separate) & {
    box-shadow: none;
    min-width: 50px;
    & + .btn {
      border-left: 1px solid rgba(128, 128, 128, .21);
      &:hover, &:focus, &:active {
        border-color: rgba(0, 0, 0, .03);
      }
    }
  }
  transition: background-color .3s cubic-bezier(.4, 0, .2, 1);
}

.productActions {
  display: inline-flex;
  .bar-rating {
    border: 1px solid;
    padding: 5px 12px;
    margin-right: 15px;
    .br-theme-fontawesome-stars .br-widget a {
      line-height: 2.8rem;
      font-size: 2.2rem;
      &:first-child {
        font-family: 'bwg-i', fantasy;
        font-size: 1.5rem;
        margin-right: 12px;
        &:after {
          content: '\0043'
        }
      }
    }
  }
  .open .dropdown-menu {
    padding-top: 0;
    transform: translateX(-33%);
    left: 50%;
    >li>a {
      padding: 10px 15px
    }
  }
  .dropdown.dropup {
    display: inline-block;
    margin-right: 1.5rem;
  }
  .btn-sm {
    font-size: 2rem;
  }
}
.btn-group-sm>.btn, .btn-sm {
  border-radius: 0;
}

.btn-white {
  background-color: white;
  &:hover, &:focus, &:active {
    background-color: rgba(0, 0, 0, .02);
    outline:none!important;
    box-shadow: none;

  }
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none!important;
}

.btn-disabled {
  background-color: #3d3d3d;
  color: white !important;
}

.btn-primary {
  color: #fff;
  background-color: map_get($colors, 'primary');
  &:hover, &:focus, &:active, &:active:focus {
    background-color: lighten(map_get($colors, 'primary'), 12);
  }
  border-color: lighten(map_get($colors, 'primary'), 12);
}

.navbar-toggle {
  border-radius: 0;
  color: white;
  .navbar-default & .icon-bar, & .icon-bar {
    background-color: white;
  }
  .navbar-default &:focus, .navbar-default &:hover, &:focus, &:hover {
    background-color: rgba(0, 0, 0, .27);
  }
}

#dropdownSettings::after {
  top: 100%;
}

#dropdownIcons {
  right: -1px;
  position: relative;
}
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  padding-right: 17px;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  pointer-events: none;
  border: none;
  margin-top: 1px;
  right: -1px;
  overflow: hidden;
  padding: 0;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  > * {
    margin-top: -100%;
    transition: margin-top .3s cubic-bezier(.4, 0, .2, 1);
    .open & {
      margin-top: 0;
    }
  }
  .open & {
    opacity: 1;
    pointer-events: initial;
  }
}
.card.page {
  overflow: hidden;
}
.form-control-lg {
  height: 45px;
  border: 1px solid;
  border-radius: 0;
}
.dropdown-toggle.hasCaret, .bootstrap-select>.dropdown-toggle {
  padding-right: 30px;
  position: relative;
  .caret {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.bootstrap-select {
  ul.dropdown-menu>li>a {
    padding: 10px 12px;
  }
  box-shadow: none;
}
.btn-secondary.dropdown-toggle {
  min-width: 165px;
  text-align: initial;
  .caret {
    position: absolute;
    right: 6px;
  }
  + .dropdown-menu {
    min-width: 165px;
    > li {
      padding: 0;
      > * {
        padding: 8px 20px;
      }
    }
  }
}

.open {
  & > a, & > a:focus, & > a:hover, & > .dropdown-toggle.active, & > .dropdown-toggle.active:focus, * > .dropdown-toggle.active:hover {
    outline: none;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  }
  td > & > a {
    box-shadow: none!important;
  }
  /*.dropdown-toggle[aria-haspopup=true]::after{
    height: 13px;

    position: absolute;
    top: calc(100% + 1px);
    left: -1px;
    background-color: #fff;
    border-top: 1px solid #bbb;
    width: calc(100% + 2px);
  }*/
  &.btn-group .dropdown-menu {
    margin-top: 1px;
    border-top: 1px solid #eee;
  }
  .dropdown-menu {
    .navbar-nav > & {
      margin-top: 1px;
    }
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 0;
    padding: 14px 0 0 0;
    border: none;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .1), 0 8px 10px 1px rgba(0, 0, 0, .07), 0 3px 14px 2px rgba(0, 0, 0, .06);
    form {
      margin-top: -10px;
      button:hover {
        background-color: #373737;
        color: white;
      }
    }
  }
}

.navbar-default {
  .navbar-brand {
    max-width: 180px;
    flex: 1 0 180px;
    margin-right: 30px;
    padding: 0;
  }
  min-height: 95px;
  background-color: map_get($colors, 'green');
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  border: none;
  @media (max-width: 991px) {
    > .container {
      width: 100%;
    }
  }
  .navbar-nav > .open {
    & > a, & > a:focus, & > a:hover {
      background-color: white;
      border: none;
      border-bottom-color: white;
    }
    .dropdown-menu {
      li:last-child {
        background-color: map_get($colors, 'green');
        > a {
          color: white;
        }
      }
      .info {
        padding: 20px 12px;
        color: white;
      }
    }

  }
  .navbar-nav > li {
    > a {
      color: white;
      transition: color .15s cubic-bezier(.4, 0, .2, 1);
    }
  }
  .btn {
    max-height: 50px;
  }
  .navbar-nav > .active, .navbar-nav > li:focus, .navbar-nav > li:hover {
    & > a, & > a:focus, & > a:hover {
      color: black;
    }
  }
  .nav-search {
    display: flex;
    flex-grow: 1;
    .input-group, & .btn-search {
      transition: box-shadow .4s cubic-bezier(.4, 0, .2, 1);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
      &:focus, &:active, &:hover {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
      }
    }
    .btn-search {
      background-color: #fff;
      margin-left: 8px;
      line-height: 36px;
      font-weight: 600;
      color: #212121;
      text-transform: uppercase;
      text-align: center;
      font-size: 17px;
    }
    .input-group {
      max-width: calc(100% - 195px);

      .input-group-addon {
        background: white !important;
      }
      .form-control {
        box-shadow: 0 0 0;
        height: 50px;
        border: none;
      }
      .input-group-addon {
        padding: 0;
        button {
          border: 0;
          padding: 8px 9px 8px 10px;
          background-color: map_get($colors, 'primary');
          color: white;

          font-size: 28px;
          width: 50px;
          height: 50px;
          margin: -1px;
          &:hover, &:active, &:focus {
            background-color: lighten(map_get($colors, 'primary'), 12);
          }
        }
      }
    }
  }
  .navbar-right li {
    > a, button {
      padding: 10px 12px;
    }
    button {
      background: none;
      border: none;
      display: block;
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    #navbar {
      display: flex !important;
      align-items: center;
      .navbar-right {
        flex-shrink: 0;
        padding-left: 40px;
      }
    }
  }
}

.flexWrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px;
  body > & {
    min-height: calc(100vh - 95px);
    background: url('../image/retail.jpg') no-repeat 50% 50% /cover;
    position: relative;
    &.v-center {
      justify-content: center;
      align-items: center;
    }
    &.clear {
      background: #cfcfcf;
    }
  }
  > .container:first-child {
    margin-top: 20px;
    flex-grow: 1;
    position: relative;
    &.push {
      display: flex;
      > .row {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 100%;
        > * {
          display: flex;
          flex-direction: column;
          > * {
            flex-grow: 1;
          }
        }
      }
    }
  }
  .aside {
    @media (min-width: 992px) {
      padding-left: .5rem;
    }
    .card {
      padding: 1rem;
      flex-grow: 0 !important;
      &.cart table {
        margin-bottom: 8px;
      }
      tfoot, thead {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        & th, & td {
          background-color: #eee;
        }
      }
    }
  }
  .card {
    background-color: white;
  }
  h4 {
    font-size: 2.4rem;
    margin: .5rem 0;
  }
  .cardTitle {
    background-color: #303030;
    padding: 1.5rem;
    h1, .filters, .layoutSwitch {
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 4rem;
      font-weight: 600;
      margin: 0;
      color: white;
    }
    a.btn-secondary {
      background-color: white;
      color: black;

    }
  }
  > .parallax-container {
    overflow: hidden;
    + .submenu {
      box-shadow: 0 -3px 5px -1px rgba(0,0,0,.2), 0 -6px 10px 0 rgba(0,0,0,.14), 0 -1px 18px 0 rgba(0,0,0,.12);
    }
    > .parallax-scroller {
      height: 500px;
      position: relative;
      box-sizing: content-box;
      .scene {
        color: white;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3,& div  {
          text-transform: uppercase;
        }
        h3 {
          font-size: 4.5rem;
          font-weight: 900;
        }
        div {font-size: 3.5rem; font-weight: 200;}
        .btn {margin-top: 6rem; padding: 6px 6rem;}
      }
    }
  }
}
.flex-table.saved-searches tr>td{
  border-top: 1px solid #ddd;
  &:last-child, &:first-child {
    width: 1%;
  }
}
.flex-table {
  width: 100%;
  tfoot>tr{
    background-color: #3d3d3d;
    >td>div {
      padding: 0;
    }
  }
  th {
    .card & {
      background-color: #3d3d3d;
      color: white;
      padding: 18px 8px;
      @media(max-width: 1199px) {
        padding: 12px 4px;
      }
      font-size: 16px;
      font-weight: 400;
      vertical-align: middle;
      &:not(:first-child) {
        text-align: center;
        white-space: nowrap;
      }
      a {
        color: white;
        margin-left: 8px;
      }
    }
  }
  tr {
    background-color: white;
    td {
      min-height: 60px;
      padding: 12px 8px;
      @media(max-width: 1199px) {
        padding: 12px 4px;
      }
      &:not(:first-child) {
        text-align: center;
      }
      .hide-x > * {
        transition: opacity .3s cubic-bezier(.4,0,.2,1);
      }
    }
    &[data-target] {
      font-family: 'Montserrat', sans-serif;
      position: relative;
      >td {
        min-height: 50px;
        border-top: 1px solid #ddd;
        vertical-align: middle;
        &:not(:first-child) {
          text-align: center;
        }
        &:not(.no-grow) {
          min-width: 50px;
        }
        .input-group {
          min-width: 140px;
          height: 45px;
          @media(max-width: 1199px) {
            min-width: 120px;
          }
        }
        &.no-grow {
          padding: 8px 8px 8px 0;
          margin: 0;
        }
        &.hide-x > *{
          transition: opacity .3s cubic-bezier(.4,0,.2,1);
        }
      }

    }
    &[aria-expanded=true] {
      background-color: #eee;
      &,&+.hiddenRow {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
      }
      td.hide-x > *{
        pointer-events: none;
        opacity: 0;

      }
    }
    &.hiddenRow {
      position: relative;
      overflow: visible;
      .collapse.in {
        overflow: visible !important;
      }
      z-index: 1;
     > td {
        padding: 0 !important;
       border-top: none;
       .tdWrapper {
         padding: 12px 8px;
         border-top: 1px solid #ddd;
       }
      }
    }
    &.clear {
      background-color: transparent;
      > td {
        padding: 0;
        border-top-width: 0;
        .rowSpacer {
          height: 0;
          transition: height .3s cubic-bezier(.4,0,.2,1);
        }
      }
      &.opened {
        .rowSpacer {
          height: 15px;
        }
        + tr + tr + tr .rowSpacer {
          height: 15px;
        }
      }
    }
  }
  .offerWrap {
    background-color: #ff0048;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 10px;
    max-width:20px;
    min-height: 57px;
    right: 0;
    top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: max-width .3s cubic-bezier(.4,0,.2,1);
    >.fa {
      position: absolute;
      right: .4rem;
      top: .5rem;
    }
    .offerTag {
      transition: all .3s cubic-bezier(.4,0,.2,1);
      display: flex;
      flex-direction: column;
      line-height: 1.1;
      opacity: 0;
      width: 100%;
      min-width:120px;
      padding: 0 8px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      .tagTitle {
        font-weight: 700;
      }
    }
  }
  tr[aria-expanded=false] {
    overflow: hidden;
  }
  tr[aria-expanded=false] td:hover .offerWrap, tr[aria-expanded=true] .offerWrap{
    max-width: 100%;
    .offerTag {
      opacity: 1;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: white;
  }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: calc(100vh - 51px);
  }
}
.dl-horizontal {
  dt {
    width: 130px;
    font-weight: normal;
  }
  dd {margin-left: 140px;  }
  code {
    display: inline-block;
    &::before {content:'(ex: '}
    &::after {content:')'}
  }
}
h1, h2, h3, h4 {
  font-weight: 600;
  text-transform: uppercase;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

$inputColor: #1abc9c;

input::-webkit-input-placeholder, button {
  transition: all 0.3s ease-in-out;
}

.login {
  padding: 20px;
  form {
    box-sizing: border-box;
    width: 260px;
    margin: 0 auto;
    border-radius: 3px;
    input {
      margin: 40px 0;
      width: 100%;
      display: block;
      border: none;
      padding: 10px 0;
      border-bottom: solid 1px $inputColor;
      transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
      background-size: 200px 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $inputColor 4%) no-repeat -200px 0;
      color: darken($inputColor, 20%);
      &:focus, &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
          color: $inputColor;
          font-size: 11px;
          transform: translateY(-20px);
          visibility: visible !important;
        }
      }
    }
  }
}

.card.transparent {
  box-shadow: none;
  background-color: transparent;
}
.card + .card {
  margin-top: 20px;
}
.afterFlexTable {
  background-color: white;
  border-top: 1px solid #ddd;
  padding: 12px 8px;
  margin-bottom: 20px;
}

.flexRow {
  display: flex;
  .flexCol {
    &:first-child {
      padding: 0 1rem 20px;
      @media (max-width: 991px) {
        padding-bottom: 0;
      }
    }
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    >.push {
      flex-grow: 1;
    }
    &:last-child {
      flex-grow: 0;
    }
    @media (max-width: 1199px) {
      .btn-group.separate {
        flex-wrap: wrap;
        > * {
          flex: 1 0 50%;
          margin: 15px 0 0;
        }
      }
    }
    @media(max-width: 992px) {
      .btn-group {
        display: flex;
        flex-direction: column;
        > * {
          margin: 7px 0;
          max-width: 240px;
        }
      }
    }
    .btn-group.clear {
      display: inline-flex;
    }
  }
}
.modal-header .close, .toast-close-button {
  font-size: 2em;
  min-width: 1em;
  padding: 1rem;
  outline: none;
  text-shadow: none;
  #hhtErrorsModal & {
    color: black;
  }
  &:active,&:focus,&:hover {
    color: black;
    text-shadow: 1px 1px 1px white;
    opacity: .42;
  }

  font-family: 'bwg-i', fantasy;
  position: relative;
  color: white;
  opacity: .65;
  span {
    opacity: 0;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '\0043';
  }
}
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
  @media (max-width: 767px) {
    min-height: calc(100vh - 20px);
  }
}
.modal-footer {
  text-align: center;
  .btn {
    min-width: 150px;
  }
}
.flexRow.form-group {
  align-items: center;
  label {
    margin-bottom: 0;
    line-height: 3rem;
    cursor: pointer;
    font-weight: 400;
  }
}
.toggleSwitch {
  margin-right: 2rem;
  position: relative;
  display: block;
  padding: 2px;
  width: 100px;
  &.wide {
    width: 120px;
  }
  &.wider {
    width: 150px;
  }
  height: 34px;
  align-items: center;
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
  &.on {
    background-color: map_get($colors, 'green');
    color: white
  }
  overflow: hidden;
  cursor: pointer;
  transition: background-color .1s linear .1s;
  box-shadow: inset 0 3px 2px rgba(0,0,0,.07);
  input {
    display: none;
  }
  .toggle {
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    display: inline-block;
    background-color: white;
    right: calc(100% - 32px);
    transition: right .25s cubic-bezier(.4,0,.2,1);
    &.on {
      right: 2px;
    }
    &:before,&:after {
      display: inline-block;
      position: absolute;
      top:0;
      padding: 0 10px;
    }
    &:before {
      content: attr(data-on);
      right: 100%;
    }
    &:after {
      left: 100%;
      content: attr(data-off);
    }
  }
}
.empty-cart {
  background-color: #eee;
  padding: 2rem;
  min-height: 10rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat",sans-serif;
}