@import "variables";

body {
  padding-top: 95px;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-group {
  .form-control {
    border-radius: 0;
    .input-group-addon:last-child {
      border-radius: 0;
    }
  }
}
.toast, .pagination {
  font-family: 'Montserrat', sans-serif;
}
.pagination {
  .count {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    color: #3d3d3d;
  }
  .bgn-group-spacer {
    display: inline-block;
    min-width: 50px;
    margin: 0;
    text-align: center;
    font-size: 2.4rem;
    line-height: 4.2rem;
    height: 50px;
    vertical-align: sub;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.label {
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0,0,0,.42);
  letter-spacing: -.2px;
  font-family: monospace;
  font-size: 80%;
}
.btn-group, .card {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  &.clear, &.separate {
    box-shadow: none;
  }
}
.card.padding {
  padding: 20px;
}
.btn-group.separate {
  .btn {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.dropdown-toggle.btn-secondary {
  padding-right: 30px;
}

.rltv {
  position: relative;
  td:first-child > & {
    margin: -8px;
    padding: 8px 8px 8px 28px;
    display: block;
    min-height: 56px;
  }
}
.alert {
  border: 2px solid;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
}

@for $i from 1 through length($colors) {
  $key : nth(map_keys($colors), $i);
  $color: map_get($colors, $key);
  .alert-#{$key} {
    border-color: $color;
    color: darken($color, 12);
  }
  .label-#{$key} {
    background-color: $color;
  }
  .btn-#{$key} {
    background-color: $color;
    border-color: darken( $color, 10);
    &.btn-outline {
      color: $color;
      background-color: transparent;
    }
    &:focus, &:active, &:hover, &.active, &:active:focus, &:active:hover {
      background-color: darken($color, 10);
      border-color: darken( $color, 20);
      &.btn-outline {
        color: darken($color, 10);
        background-color: transparent;
      }
    }
  }
  .bg-#{$key} {
    color: white;
    background-color: $color;
  }
}

.label-warning {
  background-color: #ea6207;
}
a.btn-inverse {
  background-color: #484848;
  border-color: darken(#484848, 15);
  color: white;
  &:focus, &:active, &:hover, &.active {
    background-color: #373737;
    border-color: darken(#373737, 15);
    color: white;
  }
}

.btn {
  border: none;
  height: 50px;
  &.btn-sm {
    height: auto;
  }
  border-radius: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  &.btn-outline {
    border: 1px solid;
    box-shadow: none;
  }
  &.dropdown-toggle {
    position: relative;
    padding-right: 2em !important;
    .caret {
      width: 1.2em;
      height: inherit;
      border: none;
      font: normal normal normal 16px/1 FontAwesome;
      margin-left: .4em;
      top: 50%;
      right: 6px;
      position: absolute;
      transform: translateY(-50%) scaleY(1);
      transition: transform .2s cubic-bezier(.4, 0, .2, 1), top .2s cubic-bezier(.4,0,.2,1);
      .open > & {
        top: calc(50% + 2px);
        transform: translateY(-50%) scaleY(-1);
      }
      &::before {
        content: "\f078";
      }
    }
  }

  .cardTitle &, &.btn-sm {
    line-height: 1.42857143;
  }
  &.btn-sm {
    font-size: 14px;
  }
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  &.btn-clear {
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    color: white;
  }
  .btn-group:not(.separate) & {
    box-shadow: none;
    min-width: 50px;
    & + .btn {
      border-left: 1px solid rgba(128, 128, 128, .21);
      &:hover, &:focus, &:active {
        border-color: rgba(0, 0, 0, .03);
      }
    }
  }
  transition: background-color .3s cubic-bezier(.4, 0, .2, 1);
}

.productActions {
  display: inline-flex;
  .bar-rating {
    border: 1px solid;
    padding: 5px 12px;
    .br-theme-fontawesome-stars .br-widget a {
      line-height: 2.8rem;
      font-size: 2.2rem;
      &:first-child {
        font-family: 'bwg-i', fantasy;
        font-size: 1.5rem;
        margin-right: 12px;
        &:after {
          content: '\0043'
        }
      }
    }
  }
  .btn-sm {
    font-size: 2rem;
    &.active {
      background-color: map_get($colors, 'green');
      color: white;
      border-color: transparent;
    }
  }
  .badge {
    min-height: 20px;
    min-width: 20px;
    line-height: 20px;
    padding: 0 5.5px;
    border-radius: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #303030;
  }
  .bar-rating {
    position: relative;
  }

}
.btn-group-sm>.btn, .btn-sm {
  border-radius: 0;
}

.btn-white {
  background-color: white;
  &:hover, &:focus, &:active {
    background-color: rgba(0, 0, 0, .02);
    outline:none!important;
    box-shadow: none;

  }
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none!important;
}

.btn-disabled {
  background-color: #3d3d3d;
  color: white !important;
}

.btn-primary {
  color: #fff;
  background-color: map_get($colors, 'primary');
  &:hover, &:focus, &:active, &:active:focus {
    background-color: lighten(map_get($colors, 'primary'), 12);
  }
  border-color: lighten(map_get($colors, 'primary'), 12);
}

.navbar-toggle {
  border-radius: 0;
  color: white;
  .navbar-default & .icon-bar, & .icon-bar {
    background-color: white;
  }
  .navbar-default &:focus, .navbar-default &:hover, &:focus, &:hover {
    background-color: rgba(0, 0, 0, .27);
  }
}

#dropdownSettings::after {
  top: 100%;
}

#dropdownIcons {
  right: -1px;
  position: relative;
}
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  padding-right: 17px;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  pointer-events: none;
  border: none;
  margin-top: 1px;
  right: -1px;
  overflow: hidden;
  padding: 0;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  > * {
    margin-top: -100%;
    transition: margin-top .3s cubic-bezier(.4, 0, .2, 1);
    .open & {
      margin-top: 0;
    }
  }
  .open & {
    opacity: 1;
    pointer-events: initial;
  }
}
.card.page {
  overflow: hidden;
}
.form-control-lg {
  height: 45px;
  border: 1px solid;
  border-radius: 0;
}
.dropdown-toggle.hasCaret, .bootstrap-select>.dropdown-toggle {
  padding-right: 30px;
  position: relative;
  .caret {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.bootstrap-select {
  ul.dropdown-menu>li>a {
    padding: 10px 12px;
  }
  box-shadow: none;
}
.btn-secondary.dropdown-toggle {
  min-width: 165px;
  text-align: initial;
  .caret {
    position: absolute;
    right: 6px;
  }
  + .dropdown-menu {
    min-width: 165px;
    > li {
      padding: 0;
      > * {
        padding: 8px 20px;
      }
    }
  }
}
.open {
  & > a, & > a:focus, & > a:hover, & > .dropdown-toggle.active, & > .dropdown-toggle.active:focus, * > .dropdown-toggle.active:hover {
    outline: none;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    td > & {
      box-shadow: none!important;
      background-color: transparent;
    }
  }
  /*.dropdown-toggle[aria-haspopup=true]::after{
    height: 13px;

    position: absolute;
    top: calc(100% + 1px);
    left: -1px;
    background-color: #fff;
    border-top: 1px solid #bbb;
    width: calc(100% + 2px);
  }*/
  &.btn-group .dropdown-menu {
    margin-top: 1px;
    border-top: 1px solid #eee;
  }
  .dropdown-menu {
    .navbar-nav > & {
      margin-top: 1px;
    }
    td > & {
      transform: translateX(-50%);
      left: 50%;
      border: solid #ff0048;
      border-width: 3px 0;

      /*&::before{
        content: "";
        display: block;
        position: absolute;
        width: 1em;
        height: 1em;
        background-color: #ff0048;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
        top: -2px;
      }*/
    }
    >li>a {
      padding: 10px 12px;
    }
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 0;
    padding: 0;
    border: none;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .1), 0 8px 10px 1px rgba(0, 0, 0, .07), 0 3px 14px 2px rgba(0, 0, 0, .06);
    form {
      margin-top: -10px;
      button:hover {
        background-color: #373737;
        color: white;
      }
    }
  }
}
@media(max-width: 767px) {
  .container {
    width: 100%;
  }
}
.navbar-default {
  .navbar-brand {
    max-width: 180px;
    flex: 1 0 180px;
    margin-right: 30px;
    padding: 0;
  }
  height: 95px;
  background-color: map_get($colors, 'green');
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  border: none;
  @media (max-width: 991px) {
    > .container {
      width: 100%;
    }
  }
  .navbar-nav > .open {
    & > a, & > a:focus, & > a:hover {
      background-color: white;
      border: none;
      border-bottom-color: white;
    }
    .dropdown-menu {
      li:last-child {
        background-color: map_get($colors, 'green');
        > a {
          color: white;
        }
      }
      .info {
        padding: 20px 12px;
        color: white;
      }
    }

  }
  .navbar-nav > li {
    > a {
      color: white;
      transition: color .15s cubic-bezier(.4, 0, .2, 1);
    }
  }
  .btn {
    max-height: 50px;
  }
  .navbar-nav > .active, .navbar-nav > li:focus, .navbar-nav > li:hover {
    & > a, & > a:focus, & > a:hover {
      color: black;
    }
  }
  .nav-search {
    display: flex;
    flex-grow: 1;
    .input-group, & .btn-search {
      transition: box-shadow .4s cubic-bezier(.4, 0, .2, 1);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
      &:focus, &:active, &:hover {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
      }
    }
    .btn-search {
      background-color: #fff;
      margin-left: 8px;
      line-height: 36px;
      font-weight: 600;
      color: #212121;
      text-transform: uppercase;
      text-align: center;
      font-size: 17px;
    }
    .input-group {
      max-width: calc(100% - 195px);

      .input-group-addon {
        background: white !important;
      }
      .form-control {
        box-shadow: 0 0 0;
        height: 50px;
        border: none;
      }
      .input-group-addon {
        padding: 0;
        button {
          border: 0;
          padding: 8px 9px 8px 10px;
          background-color: map_get($colors, 'primary');
          color: white;

          font-size: 28px;
          width: 50px;
          height: 50px;
          margin: -1px;
          &:hover, &:active, &:focus {
            background-color: lighten(map_get($colors, 'primary'), 12);
          }
        }
      }
    }
  }
  .navbar-right li {
    > a, button {
      padding: 10px 12px;
    }
    button {
      background: none;
      border: none;
      display: block;
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    #navbar {
      display: flex !important;
      align-items: center;
      .navbar-right {
        flex-shrink: 0;
        padding-left: 40px;
      }
    }
  }
}

.flexWrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px;
  body > & {
    flex-grow: 1;

    min-height: calc(100vh - 95px);
    background: url('../image/retail.jpg') no-repeat 50% 50% /cover;
    position: relative;
    &.v-center {
      justify-content: center;
      align-items: center;
    }
    &.clear {
      background: #cfcfcf;
    }
  }
  > .container:first-child {
    margin-top: 20px;
    flex-grow: 1;
    position: relative;
    &.push {
      display: flex;
      > .row {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 100%;
        > * {
          display: flex;
          flex-direction: column;
          > * {
            flex-grow: 1;
          }
        }
      }
    }
  }
  .aside {
    @media (min-width: 992px) {
      padding-left: .5rem;
    }
    .card {
      padding: 1rem;
      flex-grow: 0 !important;
      &.cart table {
        margin-bottom: 8px;
      }
      tfoot, thead {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        & th, & td {
          background-color: #eee;
        }
      }
    }
  }
  .card {
    background-color: white;
  }
  h4 {
    font-size: 2.4rem;
    margin: .5rem 0;
  }
  .cardTitle {
    background-color: #303030;
    padding: 1.5rem;
    h1, .filters, .layoutSwitch {
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 4rem;
      font-weight: 600;
      margin: 0;
      color: white;
    }
    .pull-right {
      line-height: 4rem;
    }
    a.btn-secondary {
      background-color: white;
      color: black;

    }
  }
  > .parallax-container {
    overflow: hidden;
    + .submenu {
      box-shadow: 0 -3px 5px -1px rgba(0,0,0,.2), 0 -6px 10px 0 rgba(0,0,0,.14), 0 -1px 18px 0 rgba(0,0,0,.12);
    }
    > .parallax-scroller {
      height: 500px;
      position: relative;
      box-sizing: content-box;
      .scene {
        color: white;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3,& div  {
          text-transform: uppercase;
        }
        h3 {
          font-size: 4.5rem;
          font-weight: 900;
        }
        div {font-size: 3.5rem; font-weight: 200;}
        .btn {margin-top: 6rem; padding: 6px 6rem;}
      }
    }
  }
}
.flex-table.saved-searches tr>td{
  border-top: 1px solid #ddd;
  &:last-child, &:first-child {
    width: 1%;
  }
}
.flex-table {
  width: 100%;
  tfoot, thead {
    tr {
      background-color: #3d3d3d;
      color: white;
    }
  }
  tfoot>tr{
    background-color: #3d3d3d;
    >td>div {
      padding: 0;
    }
  }
  &.products {
    td, th{
      &:first-child {
        min-width: 200px;
        max-width: 210px;
      }
    }
  }
  th {
    .card & {
      background-color: #3d3d3d;
      color: white;
      padding: 18px 8px;
      @media(max-width: 1199px) {
        padding: 12px 4px;
      }
      font-size: 16px;
      font-weight: 400;
      vertical-align: middle;
      &:not(:first-child) {
        text-align: center;
        white-space: nowrap;
      }
      a {
        color: white;
        margin-left: 8px;
      }
    }
  }
  tr {
    background-color: white;
    &.clear, &.hiddenRow {
      td {
        min-height: initial;
      }
    }
    td {
      min-height: 60px;
      padding: 12px 8px;
      @media(max-width: 1199px) {
        padding: 12px 4px;
      }
      &:not(:first-child) {
        text-align: center;
      }
      .hide-x > * {
        transition: opacity .3s cubic-bezier(.4,0,.2,1);
      }
    }
    &[data-target] {
      font-family: 'Montserrat', sans-serif;
      position: relative;
      >td {
        min-height: 50px;
        border-top: 1px solid #ddd;
        vertical-align: middle;
        &:not(:first-child) {
          text-align: center;
        }
        &:not(.no-grow) {
          min-width: 50px;
        }
        .input-group {
          min-width: 140px;
          height: 45px;
          @media(max-width: 1199px) {
            min-width: 120px;
          }
        }
        &.no-grow {
          padding: 8px 8px 8px 0;
          margin: 0;
        }
        &.hide-x > *{
          transition: opacity .3s cubic-bezier(.4,0,.2,1);
        }
      }

    }
    &[aria-expanded=true] {
      background-color: #eee;
      &,&+.hiddenRow {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
      }
      td.hide-x > *{
        pointer-events: none;
        opacity: 0;

      }
    }
    &.hiddenRow {
      position: relative;
      overflow: visible;
      .collapse.in {
        overflow: visible !important;
      }
      z-index: 1;
     > td {
        padding: 0 !important;
       border-top: none;
       .tdWrapper {
         padding: 12px 8px;
         border-top: 1px solid #ddd;
       }
      }
    }
    &.clear {
      background-color: transparent;
      > td {
        padding: 0;
        border-top-width: 0;
        .rowSpacer {
          height: 0;
          transition: height .3s cubic-bezier(.4,0,.2,1);
        }
      }
      &.before,&.after {
        .rowSpacer {
          height: 15px;
        }
      }
    }
  }
  .offerWrap {
    background-color: #ff0048;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 10px;
    max-width:20px;
    min-height: 57px;
    right: 0;
    top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: max-width .3s cubic-bezier(.4,0,.2,1);
    >.fa {
      position: absolute;
      right: .4rem;
      top: .5rem;
    }
    .offerTag {
      transition: all .3s cubic-bezier(.4,0,.2,1);
      display: flex;
      flex-direction: column;
      line-height: 1.1;
      opacity: 0;
      width: 100%;
      min-width:120px;
      padding: 0 8px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      .tagTitle {
        font-weight: 700;
      }
    }
  }
  tr[aria-expanded=false] {
    overflow: hidden;
  }
  tr[aria-expanded=false] td:hover .offerWrap, tr[aria-expanded=true] .offerWrap{
    max-width: 100%;
    .offerTag {
      opacity: 1;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: white;
  }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: calc(100vh - 51px);
  }
}
.dl-horizontal {
  dt {
    width: 130px;
    font-weight: normal;
  }
  dd {margin-left: 140px;  }
  code {
    display: inline-block;
    &::before {content:'(ex: '}
    &::after {content:')'}
  }
}
h1, h2, h3, h4 {
  font-weight: 600;
  text-transform: uppercase;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

$inputColor: #1abc9c;

input::-webkit-input-placeholder, button {
  transition: all 0.3s ease-in-out;
}

.login {
  padding: 20px;
  form {
    box-sizing: border-box;
    width: 260px;
    margin: 0 auto;
    border-radius: 3px;
    input {
      margin: 40px 0;
      width: 100%;
      display: block;
      border: none;
      padding: 10px 0;
      border-bottom: solid 1px $inputColor;
      transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
      background-size: 200px 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $inputColor 4%) no-repeat -200px 0;
      color: darken($inputColor, 20%);
      &:focus, &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
          color: $inputColor;
          font-size: 11px;
          transform: translateY(-20px);
          visibility: visible !important;
        }
      }
    }
  }
}

.card.transparent {
  box-shadow: none;
  background-color: transparent;
}
.card + .card {
  margin-top: 20px;
}
.afterFlexTable {
  background-color: white;
  border-top: 1px solid #ddd;
  padding: 12px 8px;
  margin-bottom: 20px;
}

.flexRow {
  display: flex;
  .flexCol {
    &:first-child {
      padding: 0 1rem 20px;
      @media (max-width: 991px) {
        padding-bottom: 0;
      }
    }
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    >.push {
      flex-grow: 1;
    }
    &:last-child {
      flex-grow: 0;
    }
    @media (max-width: 1199px) {
      .btn-group.separate {
        flex-wrap: wrap;
        > * {
          flex: 1 0 50%;
          margin: 15px 0 0;
        }
      }
    }
    @media(max-width: 992px) {
      .btn-group {
        display: flex;
        flex-direction: column;
        > * {
          margin: 7px 0;
          max-width: 240px;
        }
      }
    }
    .btn-group.clear {
      display: inline-flex;
    }
  }
}
.modal-header .close, .toast-close-button {
  font-size: 2em;
  min-width: 1em;
  padding: 1rem;
  outline: none;
  text-shadow: none;
  #hhtErrorsModal & {
    color: black;
  }
  &:active,&:focus,&:hover {
    color: black;
    text-shadow: 1px 1px 1px white;
    opacity: .42;
  }

  font-family: 'bwg-i', fantasy;
  position: relative;
  color: white;
  opacity: .65;
  span {
    opacity: 0;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '\0043';
  }
}
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: calc(100vh - 60px);
  @media (max-width: 767px) {
    height: calc(100vh - 20px);
  }
}
.modal-footer {
  text-align: center;
  .btn {
    min-width: 150px;
  }
}
.flexRow.form-group {
  align-items: center;
  label {
    margin-bottom: 0;
    line-height: 3rem;
    cursor: pointer;
    font-weight: 400;
  }
}
.toggleSwitch {
  margin-right: 2rem;
  position: relative;
  display: block;
  padding: 2px;
  width: 100px;
  &.wide {
    width: 120px;
  }
  &.wider {
    width: 150px;
  }
  height: 34px;
  align-items: center;
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
  &.on {
    background-color: map_get($colors, 'green');
    color: white
  }
  overflow: hidden;
  cursor: pointer;
  transition: background-color .1s linear .1s;
  box-shadow: inset 0 3px 2px rgba(0,0,0,.07);
  input {
    display: none;
  }
  .toggle {
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    display: inline-block;
    background-color: white;
    right: calc(100% - 32px);
    transition: right .25s cubic-bezier(.4,0,.2,1);
    &.on {
      right: 2px;
    }
    &:before,&:after {
      display: inline-block;
      position: absolute;
      top:0;
      padding: 0 10px;
    }
    &:before {
      content: attr(data-on);
      right: 100%;
    }
    &:after {
      left: 100%;
      content: attr(data-off);
    }
  }
}
.empty-cart {
  background-color: #eee;
  padding: 2rem;
  min-height: 10rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat",sans-serif;
}
#hhtList {
  .tab-content > * {
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    &.active {
      position: relative;
      opacity: 1;
      pointer-events: all;
    }
  }
  .tab-content {
    overflow: hidden;
    position: relative;
  }

  .tab-content>[role="tabpanel"] {
    background-color: #eee;
    min-height: 120px;
    padding: 15px;
    hr {
      margin: 10px -15px;
      border: 0;
      border-top: 1px solid #cfcfcf;
      border-bottom: 1px solid white;
    }
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #eee;
    border-bottom-color: #eee;
  }
  .nav-tabs>li {
    margin-bottom: -2px;
    z-index: 1;
  }
  .nav-tabs>li>a {
    font-size: 1.6rem;
    color: rgb(51, 51, 51);
    font-weight: 700;
  }
  .nav-tabs{
    >li{
      &.active>a {
        color: #ff0048;
      }
      &:hover, &:focus, &:active,&.active {
        .badge {
          background-color: #ff0048;
        }
      }
    }
  }
  .badge {
    font-size: 14px;
    margin-left: 8px;
  }
  .nav-tabs {
    padding: 8px 0 0 8px;
  }
}
.simpleList {
  font-family:'Montserrat', sans-serif;
  background-color: white;
  &.clear {
    background-color: transparent;
  }
  > ul {
    list-style-type: none;
    padding: 0;
    > li {
      transition: all .3s cubic-bezier(.4,0,.2,1);
      background-color: white;
      &.active {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        margin: 20px 0;
        + .active {
          border-top: 0;
        }
      }

      border-top: 1px solid #ddd;
      > a {
        display: flex;
        background-color: white;
        align-items: center;
        border: 0 solid;
        border-color: #f5f5f5 transparent #ddd transparent;
        justify-content: space-between;
        color: #212121;
        padding: 8px;
        transition: all .3s cubic-bezier(.4,0,.2,1);
        &:hover, &:focus,&:active, &:active:focus {
          text-decoration: none;
        }
        .toggLer {
          transition: transform .3s cubic-bezier(.4,0,.2,1);
        }
        &:hover {
          color: #212121;
          background-color: #f5f5f5;
        }

        &[aria-expanded="true"] {
          &,&:hover,&:focus,&:active,&:active:focus {
            outline: none;
            background-color: #e7e7e7;
            border-top: 1px solid #f5f5f5;
            border-bottom: 1px solid #ddd;
          }
          .toggLer {
            transform: scaleY(-1);
          }
        }
        span.btn-sm {
          margin: -8px 8px 0 0;
          i {margin: 6px 0;}
        }
      }
    }
  }
}
#navbar-secondary {
  @media (min-width: 768px) {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    &::before, &::after {
      content: none;
    }
    .navbar-right {
      display: flex;
      align-items: center;
    }
  }
}
td>.favMenu .dropdown-menu {
  min-width: 210px;
}
#addNewFavlist {
  margin-top: 0;
  .input-group {
    max-width: 100%;
    .input-group-addon {
      background-color: #ff0048;
      color: white;
    }
    input {
      font-size: 14px;
    }
  }
}
[data-page="landing"] {
  .shop-links {
    position: relative;
    .loader {
      width: 0;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      transform: translate(-50%, -50%);
      justify-content: space-between;
      div {
        flex: 0 1 50%;
        max-width: calc(50% - 10px);
        @media (max-width: 820px) {
          flex: 0 0 100%;
          max-width: calc(100% - 10px);
        }
        background-color: white;
      }
    }
    display: flex;
    width: 85%;
    @media (min-width: 820px) {
      width: 800px;
    }
    > div {
      display: flex;
      width: 800px;
      flex-wrap: wrap;
      justify-content: space-between;
      > span {
        opacity: 0;
        flex: 0 1 50%;
        max-width: calc(50% - 10px);
        @media (max-width: 820px) {
          flex-basis: 100%;
        }
        margin-top: 10px;
        margin-bottom: 0;
        @media(min-width: 820px) {
          &:first-of-type, &:first-of-type + span {
            margin-bottom: 10px;
            margin-top: 0;
          }
        }
        height: 93px;
        background-color: #fff;
        transition: box-shadow .3s ease-in-out;
        &:hover {
          box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12);
        }
        > .dropdown {
          &:not(.dropup) {
            .dropdown-menu {
              margin-top: -1px;
              border-top: 1px solid transparent;
            }
            &.open {
              padding-bottom: 1px;
            }
          }
          &.dropup {
            .dropdown-menu {
              margin-bottom: 0;
              border-bottom: 1px solid transparent;
            }
            &.open {
              padding-top: 1px;
            }
          }
          &.open .dropdown-menu {
            width: 100%;
            padding: 0;
            li > a {
              padding: 1.2rem 3rem;
              font-size: 2.4rem;
            }
          }
        }

        > a, > .dropdown > a {
          box-shadow: none;
          margin: 10px;
          text-transform: uppercase;
          color: #3d3d3d;
          font-size: 24px;
          font-weight: 900;
          line-height: 73px;
          padding: 0 90px 0 20px;
          display: block;
          position: relative;
          transition: color .3s ease-in-out;
          @each $l in $links {
            &.#{$l}:after {
              background-color: map_get($colors, $l);
            }
            &.#{$l}:hover {
              color: map_get($colors, $l);
            }
          }
          &::after {
            width: 73px;
            height: 73px;
            display: inline-block;
            background-color: #ccc;
            content: "";
            position: absolute;
            right: 0;
            transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
          }
          &:hover {
            text-decoration: none;
            &::after {
              box-shadow: inset 0 6px 6px -3px rgba(0, 0, 0, .2), inset 0 10px 14px 1px rgba(0, 0, 0, .14), inset 0 4px 18px 3px rgba(0, 0, 0, .12);
            }
          }
        }
      }
    }
  }
  .hhtErrToggle {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
  #hhtErrorsModal {
    .tab-content > * {
      display: block;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      top: 0;
      &.active {
        position: relative;
        opacity: 1;
        pointer-events: all;
      }
    }
    .tab-content {
      overflow: hidden;
      position: relative;
      min-height: 60vh;
      max-height: 60vh;
    }
    .tab-content>[role="tabpanel"] {
      background-color: #eee;
      min-height: 120px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      background-color: #eee;
      border-bottom-color: #eee;
    }
    .nav-tabs>li {
      margin-bottom: -2px;
      z-index: 1;
    }
    .nav-tabs>li>a {
      font-size: 2rem;
      color: rgb(51, 51, 51);
      font-weight: 700;
    }
    .nav-tabs{
      >li{
        &.active>a {
          color: #ff0048;
        }
        &:hover, &:focus, &:active,&.active {
          .badge {
            background-color: #ff0048;
          }
        }
      }
    }
    .badge {
      font-size: 14px;
    }
    font-family:'Montserrat', sans-serif;
  }
  .hhtError {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 15px;
    hr {
      margin: 10px 0;
      border-style: solid;
      border-width: 1px 0;
      border-top-color: rgba(0,0,0,.12);
      border-bottom-color: white;
    }
    .error-body {
      font-weight: 600;
    }
  }
  .btn-white.btn-outline {
    background-color: rgba(0,0,0,.35);
    color: white;
    border-color: white;
  }
}

.tdWrapper {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex;
  .imageWrap {
    flex: 0 0 170px;
    img {
      object-fit: contain;
    }
  }
  .main-col {
    flex: 1 0 40%;
    @media(max-width: 1199px) {
      flex-basis: 365px;
    }
    font-size: 13px;
    .btn-group.separate {
      margin-top: 15px;
    }
  }
  @media (max-width: 767px) {
    .main-col {
      flex: 0 1 calc(100% - 170px);
    }
  }
  .p-Details {
    @media (min-width: 768px){
      column-count: 2;
    }
    @media (min-width: 540px) and (max-width: 767px) {
      .p-Details {
        display: flex;
        justify-content: space-around;
      }
    }
    .key {
      font-weight: 600;
      &::after {
        content: ':'
      }
    }
  }
  .p-Title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
  }
}
dl, .dl-horizontal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  dt {
    text-align: left;
  }
}
.afterFlexTable h4 {
  font-size: 21px;
  margin-bottom: 10px;
}
.well {
  border-radius: 0;
  margin-bottom: 0;

  & h4 {
    font-size: 21px;
  }
}
.sliderContainer {
  height: 500px;
  img {opacity: 0;}
}
.products {
  >* {
    flex: 1 0 calc(50% - 75px);
  }
  .btn-cart {
    margin: 15px 0;
    height: 45px;
    &:hover .fa-2x {
      opacity: 1;
    }
    .fa-2x {
      color: white;
    }
  }
  tr[data-toggle=collapse] {
    .btn-cart {
      margin: -3px 0;
    }
  }
  .input-group {
    max-width: 140px;
    margin: -3px 0;
    border-radius: 0;
    .input-group-addon {
      border-radius: 0;
      border: none;
      position: relative;
      cursor: pointer;
      background-color: #dcdada;
    }
    .form-control {
      border: 1px solid #dcdada;
      width: calc(100% + 2px);
      left:-1px;
      outline: none!important;
      box-shadow: none!important;
      height: 45px;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
  }
  .right-col {
    display: flex;
    margin-left: 20px;
    min-width: 310px;
    .rltv {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .btn-stock {
        align-self: flex-end;
      }
    }
    >* {
      flex: 0 0 196px;
      @media(max-width: 119px) {
        flex-basis: 175px;
      }
    }
    .btn {
      letter-spacing: -1px;
      font-size: 15px;
    }
    .input-group {
      height: 50px;
      max-width: 100%;
      .form-control {
        height: 50px;
        padding: 12px;
        font-size: 24px;
        line-height: 30px;
      }
    }
    @media (max-width: 1199px) {
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }

    .btn-stock {
      margin-top: 15px;
      box-shadow: none;
    }
  }
  .iconBar {
    flex: 0 0 111px;
    @media(max-width: 1199px) {
      flex-basis: 100%;
    }
    .fa-2x {
      margin: 0 4px;
      height: 30px;
      line-height: 30px;
      font-size: 2.1rem;
    }
  }
  .fa-2x{
    opacity: .7;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
  }
  [data-toggle] .fa-2x.fa-heart,
  [data-toggle] .fa-2x.fa-heart-o {
    color: #ff0048;
  }

  .placer {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: -12px -8px;
    cursor: pointer;
    >.fa-2x {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  td {
    .fa-heart-o {
      opacity: 1;
    }
    .fa-heart {
      opacity: 0;
    }
    &.active {
      background-color: transparent !important;
      .fa-heart-o {
        opacity: 0;
      }
      .fa-heart {
        opacity: 1;
      }
    }
  }
}
.price .old {
  text-decoration: line-through;
  color: #ff0048;
  margin-right: .8rem;
}
.flexWrap .submenu .container {
  margin-top: 0;
}
.submenu {
  margin-bottom: 20px;
  .container {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  .navbar {
    margin: 10px 0;
    @media (min-width: 768px) {
      .container-fluid {
        padding-right: 0;
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        .navbar-collapse {
          flex-grow: 1;
        }
      }
    }
    @media (min-width: 768px) {
      li:last-child .btn {
        margin-right: 0;
      }
    }
    .btn {
      margin: 0 8px;
      padding: 10px;
      text-transform: initial;
      font-size: 17px;
      letter-spacing: -.5px;
      &.btn-sm {
        font-size: 1.5rem;
        letter-spacing: 0;
        padding: 8px;
      }
    }
  }

  @each $l in $links {
    &.#{$l} {
      background-color: map_get($colors, $l);
    }
  }
  .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  .navbar-toggle {
    color: white;
    border-color: white;
  }
  .navbar-right .btn {
    text-transform: uppercase ;
    i {margin-right: 8px;}
  }
}
.btn.btn-clear {
  color: rgba(255,255,255,.65);
  padding-right: 0;
  padding-left: 8px;
  min-width: unset;
  &.active {
    color: white;
  }
}
.iconsDd {
  .dropdown-menu {
    @media (min-width: 768px) {
      right: -1px;
    }
    width: 400px;
    column-count: 2;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    padding: 8px;
    li {
      transition: all .3s cubic-bezier(.4,0,.2,1);
      &:hover {
        background-color: #303030;
        color: white;
      }
      i {
        margin: 12px 8px;

      }
    }
  }
}
.filter-controls {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid white;
  .btn-sm {

  }
  .btn-outline.btn-default {
    background-color: transparent;
    border-color: white;
    color: white;
  }
}
#dropdownFilters {
  box-shadow: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  transition: all .3s cubic-bezier(.4,0,.2,1);

}
.open #dropdownFilters {
  box-shadow: 0 -5px 5px -3px rgba(0,0,0,.2), 0 -8px 10px 1px rgba(0,0,0,.14), 0 -3px 14px 2px rgba(0,0,0,.12);
  text-shadow: 0 5px 5px rgba(0,0,0,.2), 0 8px 10px rgba(0,0,0,.14), 0 3px 14px rgba(0,0,0,.12);
  background-color: #373737;
  transform: scaleY(-1);
}
.submenu {
  position: relative;
  .navbar {
    position: static;
  }
  .navbar-right>li {
    position: static;
  }
  .filtersDd {
    position: static;
  }
}
.filtersDd {
  margin-right: 100px;
  @media (max-width: 1199px) {
    margin-right: 56px;
  }
  @media (max-width: 991px) {
    margin-right: 8px;
  }

  > a {
    color: white;
    text-shadow: 0 3px 3px rgba(0,0,0,.21);
    i {
      line-height: 4.6rem;
    }
  }
}
.nav .filtersDd.open>a {
  background-color: transparent;
}
.megaMenu {
  width: 100%;
  background-color: #373737;
  color: #fff;
  height: 0;
  .open & {
    height: auto;
  }
  @media (min-width: 768px) {
    padding: 0;
    top: calc(100% - 11px);
  }
  .filtersList {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    > * {
      flex: 1 0 240px;
      padding: 5px 10px;
      display: flex;
      &:hover {
        input[type=checkbox]~label{
          opacity: 1;

        }
        i {
          transform: scale(1.2);
        }
      }
      label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        line-height: 2.4rem;
        margin: 5px 0;
      }
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      input[type=checkbox] {
        opacity: 0;
        height: 20px;
        width: 20px;
        margin-right: -2px;
        ~ * {
          opacity: .6;
          transition: opacity .3s cubic-bezier(.4,0,.2,1);
        }
        &:checked ~ * {
          opacity: 1;
          color: map_get($colors, 'green');
        }
        + .fake {
          position: absolute;
          left: 10px;
          top: 50%;
          border: 1px solid white;
          width: 15px;
          height: 15px;
          transform: translateY(-50%) translateZ(0);
          transition: all .3s cubic-bezier(.4,0,.2,1);
          pointer-events: none;
        }
        &:checked + .fake {
          opacity: 1;
          transform: rotate(35deg) translateX(-5px);
          transform-origin: 200% 50%;
          height: 25px;
          border-color: transparent #29b766 #29b766 transparent;
        }
      }
      > * {
        vertical-align: baseline;
      }
      i {
        margin:0 12px;
        font-size: 2.4rem;
        line-height: 2.4rem;
        transition: transform .4s cubic-bezier(.4,0,.2,1);
      }
    }
  }
}
.layoutSwitch ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
}
.planogram {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 8px;
  justify-content: center;
  .imgSlot {
    margin: 8px;
    flex-grow: 1;
    text-align: center;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #ddd;
    img {
      max-height: 125px;
    }
  }
}
.single-planogram .imgSlot img {
  max-height: 250px;
}
.listTitleLink, .stockcardlink {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  .toggLer {
    font-size: 1.5rem;
    float: right;
    margin: 0;
    transition: transform .3s cubic-bezier(.4,0,.2,1), margin .3s cubic-bezier(.4,0,.2,1);
    transform: scaleY(-1);
  }
  &.collapsed .toggLer {
    transform: scaleY(1);
  }
  &, &:hover, &:active, &:focus {
    color: #333;
    text-decoration: none;
  }
}
.stockcard {
  background: white;
  width: 100%;
  .stockCardLink {
    display: inline-block;
    position: relative;
    padding-right: 50px;
  }
  table.table {
    .img-responsive {
      margin: 0 auto;
    }
    margin: 0;
    border: 1px solid #eee !important;
    width: 100% !important;
    border-collapse: collapse;
    th {
      padding: 8px;
    }
    td:first-of-type {
      background-color: #eee !important;
      white-space: nowrap;
    }
    td, th {
      padding: 2px 5px;
      line-height: 30px;
      text-align: center;
      &.td-left {
        text-align: left;
      }
      &.td-right {
        text-align: right;
      }
    }
    td {
      border: 1px solid #eee !important;
    }
  }
}

[data-page="cart"] {
  p.select-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    >* {
      margin: 0 5px;
    }
    select {
      padding: 5px;
      font-family: "Montserrat",sans-serif;
      background-color: white;
      margin-left: 20px;
    }
    input[type=button] {
      cursor:pointer;
      margin-left: 20px;
      flex-grow: 1;
    }
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    .bootstrap-select.dropup {
      margin-left: 8px;
    }
  }
  .toggle-btn {
    padding: 0;
    margin: 0 5px;
    background-color: #f0f0f0;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    max-width: 110px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.07);
    span {
      padding: 0 5px;
      display: inline-block;
      transition: all .3s cubic-bezier(.4,0,.2,1);
      position: relative;
      &.toggle {
        background-color: #fff;
        display: block;
        height: 30px;
        width: 30px;
        max-width: 30px;
        margin: 1px;
        box-sizing: border-box;
        box-shadow: 0 3px 3px rgba(0,0,0,.1);
      }
      &.option {
        &:first-of-type {
          text-align: right;
        }
        width: 75px;
        &.hideMe {
          &:first-of-type {
            margin-left: -75px;
          }
          &:last-of-type {
            margin-right: -75px;
          }
        }
      }
    }
  }

  .cartFooter {
    font-family: 'Montserrat', sans-serif;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .cartHeader {
    background-color: #303030;
    padding: 1.5rem;
    color: white;
    border-right: 1px solid transparent;
    h4 {
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 2rem;
      font-weight: 600;
      margin: 0;
      color: #fff;
    }
  }
  .card .flex-table th {
    padding: 8px;
  }
}
[data-page="search"] {
  .search-buttons {
    .btn {
      max-width: 240px;
      + .btn {
        margin-top: 20px;
      }
    }
    .btn-outline {
      box-shadow: none;
      color: inherit;
      border-color: inherit;
    }
  }
}