.tdWrapper {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex; }
  .tdWrapper .imageWrap {
    flex: 0 0 170px; }
    .tdWrapper .imageWrap img {
      object-fit: contain; }
  .tdWrapper .main-col {
    flex: 1 0 calc(100% - 500px);
    font-size: 13px; }
    .tdWrapper .main-col .btn-group.separate {
      margin-top: 15px; }
  @media (max-width: 767px) {
    .tdWrapper .main-col {
      flex: 0 1 calc(100% - 170px); } }
  @media (min-width: 768px) {
    .tdWrapper .p-Details {
      column-count: 2; } }
  @media (min-width: 540px) and (max-width: 767px) {
    .tdWrapper .p-Details .p-Details {
      display: flex;
      justify-content: space-around; } }
  .tdWrapper .p-Details .key {
    font-weight: 600; }
    .tdWrapper .p-Details .key::after {
      content: ":"; }
  .tdWrapper .p-Title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem; }

dl, .dl-horizontal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }
  dl dt, .dl-horizontal dt {
    text-align: left; }

.afterFlexTable h4 {
  font-size: 21px;
  margin-bottom: 10px; }

.well {
  border-radius: 0;
  margin-bottom: 0; }
  .well h4 {
    font-size: 21px; }

.sliderContainer {
  height: 500px; }
  .sliderContainer img {
    opacity: 0; }

.products > * {
  flex: 1 0 calc(50% - 75px); }
.products .btn-cart {
  margin: 15px 0;
  height: 45px; }
  .products .btn-cart:hover .fa-2x {
    opacity: 1; }
  .products .btn-cart .fa-2x {
    color: white; }
.products tr[data-toggle=collapse] .btn-cart {
  margin: -3px 0; }
.products .input-group {
  max-width: 140px;
  margin: -3px 0;
  border-radius: 0; }
  .products .input-group .input-group-addon {
    border-radius: 0;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: #dcdada; }
  .products .input-group .form-control {
    border: 1px solid #dcdada;
    width: calc(100% + 2px);
    left: -1px;
    outline: none !important;
    box-shadow: none !important;
    height: 45px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }
.products .right-col {
  display: flex;
  margin-left: 20px; }
  .products .right-col .rltv {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .products .right-col .rltv .btn-stock {
      align-self: flex-end; }
  .products .right-col > * {
    flex: 0 0 196px; }
  .products .right-col .btn {
    letter-spacing: -1px;
    font-size: 15px; }
  .products .right-col .input-group {
    height: 50px;
    max-width: 100%; }
    .products .right-col .input-group .form-control {
      height: 50px;
      padding: 12px;
      font-size: 24px;
      line-height: 30px; }
  @media (max-width: 1199px) {
    .products .right-col {
      flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .products .right-col {
      flex-direction: column; } }
  .products .right-col .btn-stock {
    margin-top: 15px;
    box-shadow: none; }
.products .iconBar {
  flex: 0 0 111px; }
  .products .iconBar .fa-2x {
    margin: 0 4px;
    height: 30px;
    line-height: 30px;
    font-size: 2.1rem; }
.products .fa-2x {
  line-height: 21.5px;
  opacity: .7;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
.products [data-toggle] .fa-2x.fa-heart,
.products [data-toggle] .fa-2x.fa-heart-o {
  color: #ff0048; }
.products .placer {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: -12px -8px;
  cursor: pointer; }
  .products .placer > .fa-2x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
.products td .fa-heart-o {
  opacity: 1; }
.products td .fa-heart {
  opacity: 0; }
.products td.active {
  background-color: transparent !important; }
  .products td.active .fa-heart-o {
    opacity: 0; }
  .products td.active .fa-heart {
    opacity: 1; }

.price .old {
  text-decoration: line-through;
  color: #ff0048;
  margin-right: .8rem; }

.submenu {
  margin-bottom: 20px; }
  .flexWrap .submenu .container {
    margin-top: 0; }
  @media (max-width: 767px) {
    .submenu .container {
      padding: 0; } }
  .submenu .navbar {
    margin: 10px 0; }
    @media (min-width: 768px) {
      .submenu .navbar .container-fluid {
        padding-right: 0;
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center; }
        .submenu .navbar .container-fluid .navbar-collapse {
          flex-grow: 1; } }
    @media (min-width: 768px) {
      .submenu .navbar li:last-child .btn {
        margin-right: 0; } }
  .submenu.ambient {
    background-color: #300d79; }
  .submenu.chill {
    background-color: #4c90bc; }
  .submenu.alcohol {
    background-color: #710808; }
  .submenu.centre {
    background-color: #ea6207; }
  .submenu .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; }
  .submenu .navbar-toggle {
    color: white;
    border-color: white; }
  .submenu .navbar .btn {
    margin: 0 8px;
    padding: 10px;
    text-transform: initial;
    font-size: 17px;
    letter-spacing: -.5px; }
  .submenu .navbar-right .btn {
    text-transform: uppercase; }
    .submenu .navbar-right .btn i {
      margin-right: 8px; }

.btn.btn-clear {
  color: rgba(255, 255, 255, 0.65);
  padding-right: 0;
  padding-left: 8px;
  min-width: unset; }
  .btn.btn-clear.active {
    color: white; }

.iconsDd .dropdown-menu {
  width: 400px;
  column-count: 2;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0;
  padding: 8px; }
  @media (min-width: 768px) {
    .iconsDd .dropdown-menu {
      right: -1px; } }
  .iconsDd .dropdown-menu li {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
    .iconsDd .dropdown-menu li:hover {
      background-color: #303030;
      color: white; }
    .iconsDd .dropdown-menu li i {
      margin: 12px 8px; }

#dropdownFilters {
  box-shadow: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
  .open #dropdownFilters {
    box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, 0.2), 0 -8px 10px 1px rgba(0, 0, 0, 0.14), 0 -3px 14px 2px rgba(0, 0, 0, 0.12);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.14), 0 3px 14px rgba(0, 0, 0, 0.12);
    background-color: #373737;
    transform: scaleY(-1); }

.submenu {
  position: relative; }
  .submenu .navbar {
    position: static; }
  .submenu .navbar-right > li {
    position: static; }
  .submenu .filtersDd {
    position: static; }

.filtersDd {
  margin-right: 100px; }
  .nav .filtersDd.open > a {
    background-color: transparent; }
  .filtersDd > a {
    color: white;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.21); }
    .filtersDd > a i {
      line-height: 4.6rem; }

.megaMenu {
  width: 100%;
  background-color: #373737;
  color: #fff; }
  @media (min-width: 768px) {
    .megaMenu {
      padding: 0;
      top: calc(100% - 11px); } }
  .megaMenu .filtersList {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px; }
    .megaMenu .filtersList > * {
      flex: 0 0 25%;
      padding: 10px 10px 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      position: relative; }
      .megaMenu .filtersList > *:hover input[type=checkbox] ~ label {
        opacity: 1; }
      .megaMenu .filtersList > *:hover i {
        transform: scale(1.2); }
      .megaMenu .filtersList > * label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        line-height: 2.4rem; }
      .megaMenu .filtersList > * input[type=checkbox] {
        opacity: 0;
        height: 20px;
        width: 20px;
        margin-right: -2px; }
        .megaMenu .filtersList > * input[type=checkbox] ~ * {
          opacity: .6;
          transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
        .megaMenu .filtersList > * input[type=checkbox]:checked ~ * {
          opacity: 1;
          color: #29b766; }
        .megaMenu .filtersList > * input[type=checkbox] + .fake {
          position: absolute;
          left: 10px;
          top: calc(50% + 2px);
          border: 1px solid white;
          width: 15px;
          height: 15px;
          transform: translateY(-50%) translateZ(0);
          transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          pointer-events: none; }
        .megaMenu .filtersList > * input[type=checkbox]:checked + .fake {
          opacity: 1;
          transform: rotate(35deg) translateX(-5px);
          transform-origin: 200% 50%;
          height: 25px;
          border-color: transparent white white transparent; }
      .megaMenu .filtersList > * > * {
        vertical-align: baseline; }
      .megaMenu .filtersList > * i {
        margin: 0 12px;
        font-size: 2.4rem;
        line-height: 2.4rem;
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); }

.layoutSwitch ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0; }

.planogram {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 8px;
  justify-content: center; }
  .planogram .imgSlot {
    margin: 8px;
    flex-grow: 1;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0;
    background-color: #ddd; }
    .planogram .imgSlot img {
      max-height: 125px; }

.simpleList {
  background-color: white; }
  .simpleList.clear {
    background-color: transparent; }
  .simpleList > ul {
    list-style-type: none;
    padding: 0; }
    .simpleList > ul > li {
      padding: 0;
      border-top: 1px solid #eee; }
      .simpleList > ul > li > a {
        display: block;
        padding: 12px 15px;
        background-color: white; }
        .simpleList > ul > li > a:hover {
          background-color: #f5f5f5; }
        .simpleList > ul > li > a span.btn-sm {
          margin: -8px 8px 0 0; }
          .simpleList > ul > li > a span.btn-sm i {
            margin: 6px 0; }

.listTitleLink {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif; }
  .listTitleLink, .listTitleLink:hover, .listTitleLink:active, .listTitleLink:focus {
    color: #333;
    text-decoration: none; }
  .listTitleLink .toggLer {
    font-size: 1.5rem;
    float: right;
    margin: -6px 0; }

/*# sourceMappingURL=section.css.map */
