@import "variables";

.tdWrapper {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex;
  .imageWrap {
    flex: 0 0 170px;
    img {
      object-fit: contain;
    }
  }
  .main-col {
    flex: 1 0 calc(100% - 500px);
    font-size: 13px;
    .btn-group.separate {
      margin-top: 15px;
    }
  }
  @media (max-width: 767px) {
    .main-col {
      flex: 0 1 calc(100% - 170px);
    }
  }
  .p-Details {
    @media (min-width: 768px){
      column-count: 2;
    }
    @media (min-width: 540px) and (max-width: 767px) {
      .p-Details {
        display: flex;
        justify-content: space-around;
      }
    }
    .key {
      font-weight: 600;
      &::after {
        content: ':'
      }
    }
  }
  .p-Title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
  }
}
dl, .dl-horizontal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  dt {
    text-align: left;
  }
}
.afterFlexTable h4 {
  font-size: 21px;
  margin-bottom: 10px;
}
.well {
  border-radius: 0;
  margin-bottom: 0;

  & h4 {
    font-size: 21px;
  }
}
.sliderContainer {
  height: 500px;
  img {opacity: 0;}
}
.products {
  >* {
    flex: 1 0 calc(50% - 75px);
  }
  .btn-cart {
    margin: 15px 0;
    height: 45px;
    &:hover .fa-2x {
      opacity: 1;
    }
    .fa-2x {
      color: white;
    }
  }
  tr[data-toggle=collapse] {
    .btn-cart {
      margin: -3px 0;
    }
  }
  .input-group {
    max-width: 140px;
    margin: -3px 0;
    border-radius: 0;
    .input-group-addon {
      border-radius: 0;
      border: none;
      position: relative;
      cursor: pointer;
      background-color: #dcdada;
    }
    .form-control {
      border: 1px solid #dcdada;
      width: calc(100% + 2px);
      left:-1px;
      outline: none!important;
      box-shadow: none!important;
      height: 45px;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
  }
  .right-col {
    display: flex;
    margin-left: 20px;
    .rltv {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .btn-stock {
        align-self: flex-end;
      }
    }
    >* {
      flex: 0 0 196px;
    }
    .btn {
      letter-spacing: -1px;
      font-size: 15px;
    }
    .input-group {
      height: 50px;
      max-width: 100%;
      .form-control {
        height: 50px;
        padding: 12px;
        font-size: 24px;
        line-height: 30px;
      }
    }
    @media (max-width: 1199px) {
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }

    .btn-stock {
      margin-top: 15px;
      box-shadow: none;
    }
  }
  .iconBar {
    flex: 0 0 111px;
    .fa-2x {
      margin: 0 4px;
      height: 30px;
      line-height: 30px;
      font-size: 2.1rem;
    }
  }
  .fa-2x{
    line-height: 21.5px;
    opacity: .7;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
  }
  [data-toggle] .fa-2x.fa-heart {
    color: #ff0048;
  }

  .placer {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: -12px -8px;
    cursor: pointer;
    >.fa-2x {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  td {
    .fa-heart-o {
      opacity: 1;
    }
    .fa-heart {
      opacity: 0;
    }
    &.active {
      background-color: transparent !important;
      .fa-heart-o {
        opacity: 0;
      }
      .fa-heart {
        opacity: 1;
      }
    }
  }
}
.price .old {
  text-decoration: line-through;
  color: #ff0048;
  margin-right: .8rem;
}
.submenu {
  .flexWrap & .container {
    margin-top: 0;
  }
  margin-bottom: 20px;
  .container {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  .navbar {
    margin: 10px 0;
    @media (min-width: 768px) {
      .container-fluid {
        padding-right: 0;
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        .navbar-collapse {
          flex-grow: 1;
        }
      }
    }
    @media (min-width: 768px) {
      li:last-child .btn {
        margin-right: 0;
      }
    }
  }

  @each $l in $links {
    &.#{$l} {
      background-color: map_get($colors, $l);
    }
  }
  .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  .navbar-toggle {
    color: white;
    border-color: white;
  }
  .navbar .btn {
    margin: 0 8px;
    padding: 10px;
    text-transform: initial;
    font-size: 17px;
    letter-spacing: -.5px;
  }
  .navbar-right .btn {
    text-transform: uppercase ;
    i {margin-right: 8px;}
  }
}
.btn.btn-clear {
  color: rgba(255,255,255,.65);
  padding-right: 0;
  padding-left: 8px;
  min-width: unset;
  &.active {
    color: white;
  }
}
.iconsDd {
  .dropdown-menu {
    @media (min-width: 768px) {
      right: -1px;
    }
    width: 400px;
    column-count: 2;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    padding: 8px;
    li {
      transition: all .3s cubic-bezier(.4,0,.2,1);
      &:hover {
        background-color: #303030;
        color: white;
      }
      i {
        margin: 12px 8px;

      }
    }
  }
}

#dropdownFilters {
  box-shadow: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  transition: all .3s cubic-bezier(.4,0,.2,1);
  .open & {
    box-shadow: 0 -5px 5px -3px rgba(0,0,0,.2), 0 -8px 10px 1px rgba(0,0,0,.14), 0 -3px 14px 2px rgba(0,0,0,.12);
    text-shadow: 0 5px 5px rgba(0,0,0,.2), 0 8px 10px rgba(0,0,0,.14), 0 3px 14px rgba(0,0,0,.12);
    background-color: #373737;
    transform: scaleY(-1);
  }
}
.submenu {
  position: relative;
  .navbar {
    position: static;
  }
  .navbar-right>li {
    position: static;
  }
  .filtersDd {
    position: static;
  }
}
.filtersDd {
  margin-right: 100px;
  .nav &.open>a {
    background-color: transparent;
  }
  > a {
    color: white;
    text-shadow: 0 3px 3px rgba(0,0,0,.21);
    i {
      line-height: 4.6rem;
    }
  }
}
.megaMenu {
  width: 100%;
  background-color: #373737;
  color: #fff;
  @media (min-width: 768px) {
    padding: 0;
    top: calc(100% - 11px);
  }
  .filtersList {
    display: flex;
    flex-wrap: wrap;
    > * {
      flex: 0 0 25%;
      padding: 10px 10px 0;
      &:hover {
        input[type=checkbox]~label{
          opacity: 1;
        }
        i {
          transform: scale(1.2);
        }
      }
      label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        line-height: 2.4rem;
      }
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      input[type=checkbox] {
        opacity: 0;
        height: 20px;
        width: 20px;
        margin-right: -2px;
        ~ * {
          opacity: .6;
          transition: opacity .3s cubic-bezier(.4,0,.2,1);
        }
        &:checked ~ * {
          opacity: 1;
          color: map_get($colors, 'green');
        }
        + .fake {
          position: absolute;
          left: 10px;
          top: calc(50% + 2px);
          border: 1px solid white;
          width: 15px;
          height: 15px;
          transform: translateY(-50%) translateZ(0);
          transition: all .3s cubic-bezier(.4,0,.2,1);
          pointer-events: none;
        }
        &:checked + .fake {
          opacity: 1;
          transform: rotate(35deg) translateX(-5px);
          transform-origin: 200% 50%;
          height: 25px;
          border-color: transparent white white transparent;
        }
      }
      > * {
        vertical-align: baseline;
      }
      i {
        margin:0 12px;
        font-size: 2.4rem;
        line-height: 2.4rem;
        transition: transform .4s cubic-bezier(.4,0,.2,1);
      }
    }
  }
}